//page-banner styles 

.page-banner {
  $p: &;
  position: relative;
  background-color: $light-gray4;

  &--inverse {
    #{$p}__image {
      &:after {
        display: none;
      }

      i {
        color: $light-gray3
      }

      .icon-boxes-vector {
        @include tablet-desktop {
          font-size: calc-em(29px);
        }
      }
    }

    #{$p}__text {
      color: $black;
    }
  }

  &__text {
    position: relative;
    color: $white;
    text-align: center;
    width: 100%;
    min-height: 300px;
    padding: 55px 20px 52px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;

    @include tablet-desktop {
      padding: 76px 0;
      width: calc(100% / 3 * 2);
      max-width: calc(1180px / 3 * 2);
    }

    h1 {
      flex: 0 0 100%;
      max-width: 100%;
      font-size: calc-em(40px);
      line-height: 110%;
      margin: 0 0 9px;

      @include tablet-desktop {
        font-size: calc-em(48px);
        line-height: 100%;
      }

      &:last-child {
        margin: 0;
      }
    }

    p {
      flex: 0 0 100%;
      max-width: 100%;
      line-height: 150%;
      margin: 0;
      
      @include tablet-desktop {
        font-size: calc-em(18px);
        line-height: 150%;
      }
    }
  }

  &__details {
    flex: 0 0 100%;
    max-width: 100%;
    line-height: 150%;
    margin: 0 0 9px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @include mobile {
      font-size: calc-em(14px);
    }

    > span {
      margin: 0 20px 0 0;
    }

    .label {
      white-space: nowrap;
      opacity: 0.7;
      color: $black;
    }

    .icon {
      color: $red;
      margin-right: 8px;
    }
  }

  &__image {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.6);
    }

    &--img {
      width: 100%;
      height: 100%;

      img, source {
        @include aspect-ratio-img;
        @include image-cover;
      }
    }

    &--prop {
      @include tablet-desktop {
        width: 100%;
        max-width: 1180px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
      }

      @media only screen and (min-width: 1600px) {
        max-width: $bpXLgDesktop;
      }
    }

    i {
      position: absolute;
      z-index: 2;
      color: rgba(255,255,255,0.4);
      font-size: calc-em(36px);

      @include mobile {
        font-size: calc-em(25px);
      }
    }

    .icon-boxes-vector {
      bottom: 0;
      right: calc(100% / 12);

      @include mobile {
        font-size: calc-em(18px);
        top: 8.888888889%;
        right: 0;
        bottom: auto;
      }
    }

    .icon-triangles-vector {
      top: 16.91729323%;
      right: 20px;

      @include mobile {
        top: auto;
        right: 18.33333333%;
        bottom: 5%;
      }

      @include lgDesktop {
        transform: translate(28px, 0);
      }
    }

    .icon-circles-vector {
      top: 47.36842105%;
      left: 7.152777778%;
      font-size: calc-em(39px);

      @include mobile {
        top: 3.4375%;
        left: 15.83333333%;
        font-size: calc-em(25px);
      }
    }
  }
}