mixin page-banner(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.page-banner(class= spec.image ? '' : 'page-banner--inverse')&attributes(attributes)
    .page-banner__image
      if spec.image
        picture.page-banner__image--img
          source(srcset=spec.image)
          img(src=spec.image, alt=spec.alt)
      .page-banner__image--prop
        i.icon-boxes-vector
        i.icon-circles-vector
        i.icon-triangles-vector
    .page-banner__text
      h1=spec.title
      if spec.text
        p=spec.text
      if spec.isArticle 
        .page-banner__details
          if spec.date
            span.page-banner__details--date
              span.icon.icon-calendar
              span.label=spec.date
          if spec.time
            span.page-banner__details--time
              span.icon.icon-time
              span.label=spec.time
