mixin article-content(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.article-content.container(class=spec.__class)&attributes(attributes)
    if block 
      block 
    else 
      p No content.
