include ../../atoms/cta/cta

mixin home-banner(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.home-banner&attributes(attributes)
    .container
      header.home-banner__header
        h1 HR Tech Transformation Programme
        p An Initiative from WSG and SNEF
        a.home-banner__anchor(href="#homebannerContent")
          span.visuallyhidden Scroll to content
          i.icon-arrow-down
          
      .home-banner__image
        picture.home-banner__image--img
          source(srcset= '/assets/images/women.png')
          img(src= '/assets/images/women.png' ,alt= 'conversation image')
          //- img.no-desktop(src= '/assets/images/women-mobile.png' ,alt= 'conversation image')
        .home-banner__image--prop
          i.icon-boxes-vector
          i.icon-circles-vector
          i.icon-triangles-vector

      .home-banner__text
        h2#homebannerContent What is Job Redesign
        p Job Redesign refers to altering the tasks or the way work is performed in an existing job. Businesses need to ensure that their workforce is enabled with the right skills, competencies and resources to reap the benefits of digital transformation and to maximise the insights and productivity gains from technological advancements. Job Redesign enables employees to keep pace with the capability demands of evolving business needs and stay future-ready.
        
        +cta({
          'link': '#',
          'name': 'Learn how to Job Redesign'
        })

