//home-banner styles 
.home-banner {
  color: $white;
  background-color: $black;
  padding: 34px 0 47px;
  overflow: hidden;
  
  @include desktop {
    padding: 98px 0 192px;
  }

  &__header {
    position: relative;
    z-index: 1;
    margin: 0 0 -30px;

    @include desktop {
      margin: 20px 0 0;
    }

    h1 {
      font-size: calc-em(40px);
      line-height: 1.1;
      margin-top: 0;
      margin-bottom: 17px;
      font-weight: 800;

      @include desktop {
        font-size: calc-em(100px);
        line-height: 100px;
        margin-bottom: 36px;
        max-width: calc(100% / 12 * 8);
      }
    }

    p {
      margin: 0 0 17px;
      font-size: calc-em(16px);
      line-height: 150%;
      font-weight: $light;

      @include desktop {
        font-size: calc-em(24px);
        margin-bottom: 74px;
        max-width: calc(100% / 12 * 3);
      }
    }

    a {
      text-decoration: none;
      display: flex;
      background-color: $red;
      border: none;
      color: $white;
      width: 60px;
      height: 60px;
      align-items: center;
      justify-content: center;

      @include desktop {
        width: 79px;
        height: 79px;
        margin-bottom: 166px;
      }

      i {
        font-size: calc-em(19px);
      }
    }
  }

  &__image {
    position: relative;
    margin: 0 -20px 56px;

    @include desktop {
      position: absolute;
      right: 20px;
      top: 0;
      width: 50%;
      max-width: 570px;
      margin: 0;

      &.fix {
        position: fixed;
        top: 178px;
      }

      &.unfix {
        position: absolute;
        top: auto;
        bottom: -192px;
      }
    }

    @media only screen and (min-width: 1180px) {
      right: calc(50% - 590px + 20px)
    }

    @media only screen and (min-width: 1600px) {
      max-width: 700px;
      right: calc(50% - 700px)
    }

    &--img {
      width: calc(100% - 36px);

      @include desktop {
        width: 100%;
      }
      
      img {
        width: 100%;
      }
    }

    &--prop {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 36px);
      height: 100%;

      @include desktop {
        width: 100%;
      }

      i {
        position: absolute;
      }

      .icon-circles-vector {
        bottom: 0;
        left: 29.84615385%;
        color: $white;
        font-size:calc-em(31px);
        transform: translate(0, 33.33%);

        @include tablet {
          font-size: calc-em(38px);
        }
        
        @include desktop {
          font-size:calc-em(44px);
          bottom: 13.33333333%;
          left: 29.02097902%;
        }
      }

      .icon-triangles-vector {
        top: 70.21276596%;
        left: 0%;
        color: $orange;
        font-size:calc-em(29px);

        @include tablet {
          font-size: calc-em(35px);
        }

        @include desktop {
          font-size: calc-em(41px);
          top: 61.5942029%;
          transform: translate(-67.64705882%, 0);
        }
      }

      .icon-boxes-vector {
        top: 20.36474164%;
        right: 0;
        color: $purple;
        font-size:calc-em(29px);
        transform: translate(33.33%, 0);

        @include tablet {
          font-size: calc-em(32px);
        }

        @include desktop {
          font-size:calc-em(36px);
          top: 12.89855072%;
          transform: translate(44.44%, 0);
        }
      }
    }
  }

  &__text {
    @include desktop {
      max-width: calc(100% / 12 * 4);
    }

    h2 {
      font-size: calc-em(24px);
      line-height: 29px;
      font-weight: $light;
      margin: 0 0 18px;

      @include desktop {
        font-size: calc-em(32px);
        line-height: 39px;
      }
    }

    p {
      font-size: calc-em(14px);
      line-height: 1.5;
      margin: 0 0 23px;

      @include desktop {
        font-size: calc-em(16px);
        margin-bottom: 40px;
      }
    }
  }

  //galaxy fold width, Moto G4
  @media only screen and (max-width: 340px) {
    &__header {
      h1 {
        font-size: calc-em(28px);
        line-height: 35px;
      }
    }
  }
}