include ../../molecules/primary-menu/primary-menu

mixin site-footer(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  footer.site-footer&attributes(attributes)
    .container
      button(type="button").site-footer__back-to-top
        span.label To Top
        span.icon.icon-arrow-down

      section.site-footer__top
        nav.site-footer__nav
          ul
            li
              a(href="#") JR Methodology
            li
              a(href="#") HR Tech Solutions
            li
              a(href="#") Success Stories
            li
              a(href="#") Funding & Support
            li
              a(href="#") Media

      section.site-footer__middle
        .site-footer__partners 
          span.site-footer__partners--label Programme Partners:
          ul
            li 
              img(src='/assets/images/SNEF-logo-text.png' ,alt= 'SNEF logo with text')
        .site-footer__partners 
          span.site-footer__partners--label Knowledge Partners:
          ul
            li 
              img(src= '/assets/images/EY-logo.png' ,alt= 'EY logo')
            li
              img(src='assets/images/MERCER-logo.png' ,alt= 'MERCER logo')
        .site-footer__partners 
          span.site-footer__partners--label Supported by:
          ul
            li 
              img(src='/assets/images/WSG-logo.png' ,alt= 'WCG logo')

      section.site-footer__bottom
        span.site-footer__copyright © 2021 SNEF. All Rights Reserved
        nav.site-footer__nav
          ul
            li
              a(href="#") Terms & Privacy
        
