//site-footer styles 
.site-footer {
  position: relative;
  border-top: 1px solid $light-gray;
  padding: 35px 0;

  @include tablet-desktop {
    padding: 32px 0 45px;
  }

  ul {
    @include normalise-list;
  }

  a {
    text-decoration: none;
    color: $black;
    display: block;
    line-height: 150%;

    &:hover {
      text-decoration: underline;
    }
  }

  &__back-to-top {
    position: absolute;
    top: -12px;
    right: 20px;
    background-color: $light-gray3;
    width: 49px;
    height: 49px;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;

    .icon {
      display: block;
      transform: rotate(180deg);
    }

    .label {
      position: absolute;
      right: calc(100% + 22px);
      white-space: nowrap;
      font-size: calc-em(15px);
      line-height: 121.5%;
      text-transform: uppercase;
      pointer-events: none;
    }

    @include tablet-desktop {
      top: 0;
    }
  }

  &__top {
    margin: 0 0 33px;
    width: calc(100% - 151px); //100% minus width of back to top button plus 24px

    @include tablet-desktop {
      margin: 0 0 51px;
    }

    ul {
      @include tablet-desktop {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
      }
    }

    li {
      display: block;
      margin: 0 0 24px;

      @include tablet-desktop {
        margin: 0 35px 0 0;
        padding: 10px 0;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
  
  &__middle {
    padding: 0 0 39px;
    margin: 0 0 27px;
    border-bottom: 1px solid $light-gray;

    @include tablet-desktop {
      padding: 0 0 48px;
      margin: 0 0 31px;
      display: flex;
      justify-content: flex-start;
    }
  }

  &__partners {
    margin: 0 0 33px;

    @include tablet-desktop {
      margin: 0 100px 0 0;
    }

    &:last-child {
      margin: 0;
    }

    &--label {
      font-size: calc-em(12px);
      display: block;
      margin: 0 0 11px;
      
      @include tablet-desktop {
        font-size: calc-em(14px);
        margin: 0 0 19px;
      }
    }

    ul {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
    }

    li {
      display: block;
      margin: 0 23px 0 0;

      @include tablet-desktop {
        margin: 0 52px 0 0;
      }

      &:last-child {
        margin: 0;
      }
    }
  }

  &__bottom {
    font-size: calc-em(14px);
    
    @include tablet-desktop {
      display: flex;
      justify-content: space-between;
      font-size: calc-em(16px);
    }

    > * {
      display: block;
    }

    span {
      color: $black;

      @include mobile {
        margin: 0 0 9px;
      }
    }
  }
}