//step-by-step-guide styles 
.step-by-step-guide{
  margin: 34px 0 42px;

  @include tablet-desktop {
    margin: 80px 0;
  }

  .container {
    @media only screen and (min-width: 1600px) {
      max-width: 1180px;
    }
  }
}