include ../../molecules/card-steps-list/card-steps-list

mixin step-by-step-guide(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.step-by-step-guide&attributes(attributes)
    .container
      if spec.steps
        each section in spec.steps 
          +card-steps-list({
            '__class': section.class,
            'title': section.header,
            'color': section.color,
            'cardList':section.cardList
          })

  