mixin site-logo(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .site-logo&attributes(attributes)
    a(href='/').site-logo__logo
      img(src = '/assets/images/SNEF-logo.png', alt = 'SNEF Logo')
    span.site-logo__logo
      img(src = '/assets/images/HRTTP-logo.png', alt = 'HRTTP Logo')
