//site-logo styles
.site-logo {
  display: flex;
  align-items: center;

  &__logo {
    &:first-child {
      &:not(:last-child) {
        padding: 7px 10px 7px 0;
        border-right: 1px solid $light-gray;
        margin-right: 10px;

        @include desktop {
          padding: 9px 15px 9px 0;
          margin-right: 16px;
        }
      }

      img {
        height: 16px;

        @include desktop {
          height: 25px;
        }
      }
    }

    &:last-child {
      img {
        height: 11px;

        @include desktop {
          height: 14px;
        }
      }
    }
  }
}
