extends ../_layouts/base

include ../_modules/molecules/breadcrumb/breadcrumb

include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/form/form
include ../_modules/organisms/rte/rte

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'Download e-toolkit'

block content
  +breadcrumb({
    "breadcrumbs": [
      {
        "name": "Home",
        "url": "/"
      },
      {
        "name": "Download e-toolkit"
      }
    ]
  })

  +page-banner({
    "title": "Download e-toolkit"
  })

  +form({
    "rte": "<p>Congratulations on taking the first step in your Job Redesign journey! We are delighted to be your partner on this journey. To begin, help us get to know you better by filling up your details below.</p><p><strong>Note: The information collected will be used solely by Singapore National Employers Federation and Workforce Singapore for outreach and follow-up purposes only.</strong></p>",
    "fields": [
      {
        "__class": "col-sm-12",
        "__id": "fullName",
        "type": "text",
        "label": "FULL NAME",
        "placeholder": "Enter your full name",
        "required": true
      },
      {
        "__class": "col-sm-12 col-md-6",
        "__id": "companyName",
        "type": "text",
        "label": "COMPANY NAME",
        "placeholder": "Eg. ABC Company",
        "required": true
      },
      {
        "__class": "col-sm-12 col-md-6",
        "__id": "companyUEN",
        "type": "text",
        "label": "COMPANY UEN",
        "placeholder": "",
        "required": false
      },
      {
        "__class": "col-sm-12 col-md-6",
        "__id": "contact",
        "type": "tel",
        "label": "COMPANY CONTACT NUMBER",
        "placeholder": "Enter contact number",
        "required": true
      },
      {
        "__class": "col-sm-12 col-md-6",
        "__id": "companyType",
        "type": "radio",
        "label": "COMPANY TYPE",
        "required": true,
        "options": [
          {
            "__id": "sme",
            "label": "SME",
            "value": "sme"
          },
          {
            "__id": "non-sme",
            "label": "Non-SME",
            "value": "non-sme"
          }
        ]
      },
      {
        "__class": "col-sm-12",
        "__id": "designation",
        "type": "text",
        "label": "DESIGNATION",
        "placeholder": "eg. HR Manager",
        "required": true
      },
      {
        "__class": "col-sm-12",
        "__id": "email",
        "type": "email",
        "label": "EMAIL",
        "placeholder": "john.doe@email.com",
        "required": true
      },
      {
        "__class": "col-sm-12",
        "__id": "submit",
        "type": "submit",
        "label": "Submit to download",
        "required": true
      }
    ]
  })