include ../../atoms/cta/cta

include ../../molecules/card/card

mixin tabs-listing-item(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  li.tabs-listing-item&attributes(attributes)
    header.tabs-listing-item__header
      .tabs-listing-item__header__text
        h2=spec.header 
        span=spec.tag
      .tabs-listing-item__header__image
        img(src=spec.image, alt=spec.alt)

    ul.tabs-listing-item__list 
      +card({
        '__class': 'card--horizontal',
        'title': spec.title1,
        'text': spec.text1,
        'src': spec.src1,
        'alt': spec.alt1
      })
      +card({
        '__class': 'card--horizontal',
        'title': spec.title2,
        'text': spec.text2,
        'src': spec.src2,
        'alt': spec.alt2
      })
    +cta({
      'link': spec.link,
      '__class': 'cta--reverse',
      'name': 'Find out more'
    })
