//tab-listing-item styles 
.tabs-listing-item {
  margin: 0 0 30px;
  border: 1px solid $light-gray6;
  border-radius: 4px;
  padding: 23px 20px 30px;

  @include tablet-desktop {
    padding: 33px 40px 44px;
  }
  
  &:last-child {
    margin-bottom: 0;
  }

  &__header{
    position: relative;
    margin: 0 0 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet-desktop {
      margin: 0 0 35px;
    }

    h2 {
      font-size: calc-em(16px);
      line-height: 19px;
      margin: 0 0 10px;
      font-weight: 600;

      @include tablet-desktop {
        font-size: calc-em(20px);
        line-height: 19px;
      }
    }

    span {
      font-size: calc-em(14px);
      line-height: 150%;

      @include tablet-desktop {

      }
    }

    img {
      width: 84px;

      @include tablet-desktop {
        width: 138px;
      }
    }
  }

  &__list {
    @include normalise-list;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 28px;
    
    @include tablet-desktop {
      margin-left: -36px;
      margin-right: -36px;
      margin-bottom: 32px;
    }

    > * {
      flex: 0 0 100%;
      max-width: 100%;
      margin: 0 0 19px;

      &:last-child {
        margin: 0;
      }

      @include tablet-desktop {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 0 36px;
      }
    }

    .card__image {
      flex: 60px;
      max-width: 60px;
      margin-bottom: 0;

      @include mobile {
        flex: 0 0 33px;
        max-width: 33px;
      }
    }

    .card__text {
      flex: 0 0 calc(100% - 60px);
      max-width: calc(100% - 60px);
      padding-left: 25px;
      
      @include mobile {
        flex: 0 0 calc(100% - 33px);
        max-width: calc(100% - 33px);
        padding-left: 13px;
      }

      h3 {
        font-size: calc-em(18px);
        line-height: 150%;
        margin: 0 0 7px;
      }
    }
  }
}