mixin pagination(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - var n = 0;

  .pagination(class=spec.__class)&attributes(attributes)
    if spec.totalPages
      ul.pagination__list
        li.pagination__list--page
          button.pagination__list--pagebtn(disabled)
            i.icon-chevron-left
            span.visuallyhidden Previous page

        - for (var i = 0; i < spec.totalPages; i++) {
          li.pagination__list--page
            button.pagination__list--pagebtn(data-page=i, class=(i == 0 ? 'active' : ''))= i + 1
        - }

        li.pagination__list--page
          button.pagination__list--pagebtn
            i.icon-chevron-right
            span.visuallyhidden Next page


