//pagination styles
.pagination{
  display: flex;
  align-items: center;
  justify-content: center;

  i{
    font-size: calc-em(16px);
    color: $red;
  }

  button {
    &[disabled] {
      i {
        color: $light-gray6;
        opacity: 0.5;
      }
    }
  }

  &__list{
    @include normalise-list;
    display: flex;
    margin: 0 10px;

    &--page{
      margin: 0 4px;
    }

    &--pagebtn{
      cursor: pointer;
      background-color: transparent;
      border: none;
      border-radius: 100%;
      transition: all 0.3s ease-in-out;
      width: 42px;
      height: 42px;
      font-size: calc-em(16px);
      display: block;

      &.active{
        background-color: $red;
        color: $white;
      }
    }
  }
}
