extends ../_layouts/base

include ../_modules/molecules/breadcrumb/breadcrumb

include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/page-footer/page-footer
include ../_modules/organisms/event-listing/event-listing

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'Upcoming Events'

block content
  +breadcrumb({
    'breadcrumbs': [
      {
        'name': 'Home',
        'url': '/'
      },
      {
        'name': 'Media',
        'url': '#'
      },
      {
        'name': 'Events'
      }
    ]
  })

  +page-banner({
    "image": "/assets/images/women-banner.png",
    "alt": "Banner image",
    'title': 'Upcoming Events'
  })

  +event-listing({
    'totalPages': 2,
    'pages':[
      {
        'pageId': 'page1',
        'cards': [
          {
            'url': '#',
            'src': '/assets/images/HRTTP-shareback.png',
            'alt': 'shareback event image',
            'dateIcon': true,
            'date': '7-11 Dec 2020',
            'title': 'HRTTP industry shareback',
            'text': 'A journey of opportunities, that brings together the most progressive business & HR Leaders, HR Analysts, and HR ...'
          },
          {
            'url': '#',
            'src': '/assets/images/HRTTP-launch.png',
            'alt': 'launch event image',
            'dateIcon': true,
            'date': '26 Nov 2020',
            'timeIcon': true,
            'time': '10:30am to 12:30pm',
            'title': 'HRTTP launch event',
            'text': 'Be part of the biggest online gathering of C-suite and HR practitioners in the region at HR Tech Festival Asia where technology...'
          },
          {
            'url': '#',
            'src': '/assets/images/experience-sharing.png',
            'alt': 'experience sharing image',
            'dateIcon': true,
            'date': '26 Nov 2020',
            'timeIcon': true,
            'time': '10:30am to 12:30pm',
            'title': 'Experience Sharing',
            'text': 'Engage with fellow HR professionals from any device, wherever you are. Reunite and re-energise with the Asia-Pacific HR ...'
          },
          {
            'url': '#',
            'src': '/assets/images/people-matters.png',
            'alt': 'People Matters Tech HR 2020 image',
            'dateIcon': true,
            'date': '26 Nov 2020',
            'timeIcon': true,
            'time': '10:30am to 12:30pm',
            'title': 'People Matters Tech HR 2020',
            'text': 'Receive support and opportunities to connect through the 1000+ member network of local suppliers, startups, MNCs and government ...'
          },
          {
            'url': '#',
            'src': '/assets/images/mbs.png',
            'alt': 'HR Tech Insights for a Transformed Workplace image',
            'dateIcon': true,
            'date': '26 Nov 2020',
            'timeIcon': true,
            'time': '10:30am to 12:30pm',
            'title': 'HR Tech Insights for a Transformed Workplace',
            'text': 'The design and implementation of a holistic wellbeing and mental health programme that delivers healthy outcomes and a more ...'
          },
          {
            'url': '#',
            'src': '/assets/images/brighter-future.png',
            'alt': 'Building a brighter future image',
            'dateIcon': true,
            'date': '26 Nov 2020',
            'timeIcon': true,
            'time': '10:30am to 12:30pm',
            'title': 'Building a brighter future',
            'text': 'Set to take place in Johannesburg, Singapore, Shanghai and Athens, where we will be discussing the trends and strategies around...'
          }
        ]
      }
    ]
  })