mixin article-listing(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.article-listing&attributes(attributes)
    .container
      header.article-listing__header
        h2.visuallyhidden SNEF Latest Articles
      ul.article-listing__list
        each article in spec.articles
          +card({
            "__class": article.__class,
            "src": article.image,
            "title": article.title,
            "date": article.date,
            "text": article.text,
            "url": article.url
          })
      +pagination({
        'totalPages': 2
      })