//drivers styles 
.home-links{
  // padding: 20px;
  background-color: $light-gray4;
  padding: 33px 0 37px;
  overflow: hidden;

  @include tablet-desktop {
    padding: 33px 0 0;
  }

  h2{
    font-size: calc-em(24px);
    line-height: 29px;
    margin: 0 0 28px;
    font-weight: $light;

    @include tablet-desktop{
      width: calc(100% / 12 * 5);
      margin: 0 0 47px;
      font-size: calc-em(32px);
      line-height: 39px;
    }
  }

  &__wrapper{
    @include clearfix;
    position: relative;
    margin: 0 -30px;

    @include tablet-desktop {
      margin: 0 (-$gutter);
    }

    > * {
      width: calc(100% - 54px);
      margin-bottom: 36px;
      float: left;
      position: relative;
      padding: 0 $gutter;

      @include tablet-desktop {
        width: calc(100% / 12 * 5);
        left: -20px;
        margin-bottom: 0;
      }

      &:last-child {
        float: right;
        margin-bottom: 0;
        
        @include tablet-desktop {
          width: calc(100% / 12 * 7);
          top: -119px;
          left: auto;
          right: -20px;
          margin-bottom: -119px;
        }

        .home-links-card__image {
          @include tablet-desktop {
            @include aspect-ratio(648, 355, 100%);
          }
        }

        img {
          @include tablet-desktop {
            @include aspect-ratio-img;
          }
        }
      }
    }
  }
}

