include ../../molecules/driver-card/driver-card

mixin home-links(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.home-links&attributes(attributes)
    .container
      header.home-links__header
        h2.home-links__title The Case for Job Redesign
      .home-links__wrapper
        +driver-card({
          "__class": "home-links-card--reverse",
          "src": "/assets/images/buildings.png",
          "alt": "buildings image",
          "title": "External Drivers",
          "drivers":[
            {
              "iconClass":"icon-people",
              "text":"Tight Labour Market",
              "url": "#"
            },
            {
              "iconClass":"icon-old-person",
              "text":"Ageing Workforce",
              "url": "#"
            },
            {
              "iconClass":"icon-three-arrows-left",
              "text":"Increasing Competition",
              "url": "#"
            }
          ]
        })
      
        +driver-card({
          "__class": "",
          "src": "/assets/images/women-smiling.png",
          "alt": "women smiling image",
          "title": "Internal Drivers",
          "drivers":[
            {
              "iconClass":"icon-rocket",
              "text":"Manpower Efficiency",
              "url": "#"
            },
            {
              "iconClass":"icon-motivation",
              "text":"Motivation & Satisfaction",
              "url": "#"
            },
            {
              "iconClass":"icon-multitasking",
              "text":"Multiskilling & Upskilling",
              "url": "#"
            }
          ]
        })