mixin story-thumbnail(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.videoLink = spec.videoLink || ''

  li.story-thumbnail(class=spec.__class)&attributes(attributes)
    if spec.isVideo
      a(href=spec.link data-fancybox) 
        .story-thumbnail__image
          picture.story-thumbnail__image--img
            source(srcset=spec.src)
            img(src=spec.src, alt=spec.alt)
          if spec.isVideo
            .story-thumbnail__playbutton
              i.icon-play-button
              span.visuallyhidden Play video
    else
      a(href=spec.link) 
        .story-thumbnail__image
          picture.story-thumbnail__image--img
            source(srcset=spec.src)
            img(src=spec.src, alt=spec.alt)
        if spec.title || spec.text
          .story-thumbnail__icon 
            i.icon-arrow-right 
            span.visuallyhidden View all
          .story-thumbnail__text
            if spec.title
              h3=spec.title
            if spec.text
              p=spec.text
    
