//story-thumbnail styles 
.story-thumbnail {
  $p: &;

  a {
    position: relative;
    display: block;
    text-decoration: none;
    color: $black;

    @media (hover:hover) {
      &:hover {
        #{$p}__icon {
          transform: translate(10px, 0);
        }
      }
    }
  }

  &__image {
    @include aspect-ratio(1, 1, 100%);
    
    img {
      @include aspect-ratio-img;
      width: 100%;
      height: 100%;
    }
  }

  &__icon {
    color: #fff;
    position: absolute;
    top: 28px;
    right: 15px;
    font-size: calc-em(16px);
    color: #fff;
    transition: all 0.3s ease-in-out;
    
    @media only screen and (min-width: $bpTablet) {
      font-size: calc-em(32px);
      top: 40px;
      right: 40px;
    }
  }

  &__playbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    cursor: pointer;
    
    i {
      color: #fff;
      display: block;
      font-size: calc-em(45px);
      
      @media only screen and (min-width: $bpTablet) {
        font-size: calc-em(75px);
      }
    }
  }

  &__text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 22.36842105%;
    width: 100%;
    color: #fff;
    padding: 0 20px;

    @media only screen and (min-width: $bpXlMobile) {
      padding: 0 32px;
    }

    @media only screen and (min-width: $bpTablet) {
      bottom: calc(94 / 503 * 100%);
      padding: 0 44px;
    }

    h3 {
      font-weight: 300;
      font-size: calc-em(24px);
      line-height: 29px;
      margin: 0 0 9px;

      @media only screen and (min-width: $bpXlMobile) {
        margin: 0 0 18px;
        font-size: calc-em(32px);
        line-height: 39px;
      }
      
      @media only screen and (max-width: 359px) {
        font-size: calc-em(20px);
        line-height: 25px;
      }
    }

    p {
      font-size: calc-em(14px);
      line-height: 150%;
      margin: 0;

      @media only screen and (min-width: $bpXlMobile) {
        font-size: calc-em(16px);
      }
      
      @media only screen and (max-width: 359px) {
        font-size: calc-em(12px);
      }
    }
  }
}