mixin dropdown(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .eyd-custom-select(class=spec.__class)&attributes(attributes)
    label(for=spec.selectorName)=spec.label
    select(name=spec.selectorName, id=spec.selectorId)
      if spec.options
        each option in spec.options
          option(value=option.value)= option.text


  