//dropdown styles
.eyd-custom-select {
  select {
    @include visuallyhidden();
  }

  &__custom-dropdown {
    display: inline-block;
    min-width: 200px;
    width: 100%;
    max-width: 100%;
    position: relative;

    @include tablet-desktop {
      width: 485px;
    }

    &.list-shown {
      .custom-list {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
        pointer-events: auto;
      }
    }

    /* Trigger button for dropdown */
    .custom-trigger {
      width: 100%;
      display: block;
      border-radius: 4px;
      margin: 0;
      padding: 17px 50px 17px 17px;
      border: none;
      position: relative;
      text-align: left;
      background-color: $light-gray5;

      .label {
        font-weight: 600;
        font-size: calc-em(14px);
        line-height: 17px;

        @include tablet-desktop {
          font-size: calc-em(20px);
          line-height: 24px;
        }
      }

      .icon {
        color: $red;
        position: absolute;
        top: 50%;
        right: 17px;
        font-size: calc-em(20px);
        transform: translate(0, -50%);
      }
    }

    /* Customized dropdown list */
    .custom-list {
      @extend %list-unstyled;
      background: #fff;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
      max-height: 350px;
      opacity: 0;
      overflow: auto;
      position: absolute;
      transform: scale(0.5);
      transition: transform .25s ease-in-out, opacity .25s ease-in-out, visibility .25s ease-in-out;
      visibility: hidden;
      width: 100%;
      z-index: 1;
      pointer-events: none;
      padding: 5px 0;
      border-radius: 4px;

      li {
        /* Selected item */
        &.active {
          button {
            color: $red;
            font-weight: 600;
          }
        }

        /* Dropdown items */
        button {
          display: block;
          width: 100%;
          padding: 17px;
          margin: 0;
          font-size: calc-em(14px);
          line-height: 1.2;
          color: $black;
          background-color: #fff;
          border: none;
          text-align: left;
          transition: all 0.3s ease-in-out;

          @include tablet-desktop {
            font-size: calc-em(20px);
            color: $gray;
            background-color: transparent;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .eyd-custom-select {
    &__custom-dropdown {
      display: block;
    }
  }
}
