include ../story-thumbnail/story-thumbnail

mixin story-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .story-card(class=spec.__class)&attributes(attributes)
    +story-thumbnail({
      '__class': spec.thumbnailClass,
      'src': spec.src,
      'videoLink': spec.videoLink,
    })
    .story-card__text
      h3.story-card__text--title=spec.title
      p.story-card__text--tag=spec.tag
      p.story-card__text--text=spec.text
