//story-card styles 

.story-card{
    
    .story-thumbnail{
        display: inline-block;
    }

    .story-thumbnail__image{
        &--img{
            margin: 0;
        }
    }

    &__text{
        &--text{
            line-height: 25px;
        }
        &--tag{
            color: $red;
        }
    }

    &.row{
        background-color: $light-gray4;
        max-width: 562px;
        max-height: 204px;

        .story-card__text{
            margin-left: 20px;
            width: 50%;
        }
        .story-thumbnail__image{
            max-width: 205px;

            &--img{
                height: 204px;
            }
        }
    }

    &.half.column{
        max-width: 550px;
    }

    &.column{
        display: inline-block;
        max-width: 364px;
        .story-card__text{
            margin-top: 20px;
        }

    }
}