.button {
  display: inline-block;
  padding: 15px 20px;
  background-color: turquoise;
  color: black;
  border: 2px solid turquoise;
  text-decoration: none;
  margin: 0;
  border-radius: 5px;
  margin: 10px;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  
  &:hover {
    background-color: transparent;
  }

  &--rounded {
    
  }
}