include ../../molecules/card/card
include ../../atoms/cta/cta

mixin page-footer(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.page-footer&attributes(attributes)
    .container
      header.page-footer__header.col-sm-10.col-md-7
        if spec.title
          h2.page-footer__header--title= spec.title
        if spec.src
          picture.page-footer__image
            source(srcset=spec.src)
            img(src=spec.src, alt=spec.alt)
        if spec.text
          p.page-footer__header--text=spec.text
      .page-footer__cta.col-sm-12.col-md-8
        each cta, index in spec.ctas
          - var className = (index === 1) ? 'cta--reverse' : ''
          +cta({
            '__class': className,
            'link': cta.url,
            'name': cta.label
          })

        if spec.linkUrl
          a(href=spec.linkUrl)= spec.linkLabel
