//home-ctas styles 
.page-footer{
  padding: 44px 0;
  background-color: $light-gray4;

  @include tablet-desktop {
    padding: 55px 0;
  }

  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__header{
    margin: 0 auto;
    text-align: center;

    &--title{
      font-weight: 800;
      font-size: calc-em(40px);
      line-height: 100%;
      margin: 24px 0 0;
      color: $light-gray2;

      @include tablet-desktop{
        font-size: calc-em(100px);
        margin: 21px 0 0;
      }
    }

    &--text{
      font-size: calc-em(14px);
      line-height: 150%;
      margin: 0 0 21px;
      
      @include tablet-desktop{
        width: calc(100% / 6 * 4);
        font-size: calc-em(16px);
        margin: 0 auto 32px;
      }
    }
  }

  &__image {
    margin: -11px auto 14px;
    width: 25%;
    display: flex;
    justify-content: center;

    @include tablet-desktop{
      margin: -26px auto 24px;
      width: calc(100% / 7 * 2);
    }
  }

  &__cta{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .cta {
      margin: 0 6px 5px;

      @include tablet-desktop{
        margin: 0 12px 5px;
      }

      &:nth-last-child(2):last-child {
        margin: 0 24px;
      }

      &:first-child():nth-last-child(2),
      &:nth-child(2):last-child {
        margin: 0 24px 5px;
      }
    }

    a {
      &:not(.cta) {
        width: 100%;
        text-align: center;
        margin-top: 12px;
        font-size: calc-em(14px);
        color: $red;
        
        @include tablet-desktop{
          font-size: calc-em(16px);
        }
      }
    }
  }
}