//driver-card styles 
.home-links-card{
  $p: &;
  display: flex;
  flex-direction: column;

  &__image {
    @include aspect-ratio(306, 181, 100%);

    img, source {
      @include aspect-ratio-img;
      @include image-cover;
    }
  }

  &__text{
    position: relative;
    padding: 19px 44px 0 0;
    
    &:before {
      content: '';
      position: absolute;
      height: calc(100% + 30px);
      right: 20px;
      bottom: 0;
      width: 4px;
      background-color: $red;
    }

    h3{
      font-size: calc-em(18px);
      line-height: 22px;
      font-weight: 600;
      margin: 0 0 12px;

      @include tablet-desktop{
        margin: 0 0 10px;
        font-size: calc-em(20px);
        line-height: 24px;
      }
    }

    ul{
      @include normalise-list;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    li{
      width: 100%;
      margin: 0 0 12px;
      
      @include tablet-desktop {
        width: 50%;
        margin: 0 0 9px 0;
      }

      &:last-child{
        margin: 0;
      }
    }

    a {
      text-decoration: none;
      color: $black;
      display: flex;
      align-items: center;
    }

    i{
      font-size: calc-em(18px);
      margin-right: 5px;
      color: $red;
    }

    span{
      font-size: calc-em(14px);
      line-height: 150%;

      @include tablet-desktop {
        font-size: calc-em(16px);
      }
    }
  }

  &--reverse {
    flex-direction: column-reverse;

    #{$p}__text {
      padding: 0 44px 29px 44px;

      &:before {
        content: '';
        height: calc(100% + 22px);
        top: 0;
        left: 20px;
        right: auto;
        bottom: auto;
      }
    }
  }
}

