mixin driver-card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .home-links-card(class= spec.__class)&attributes(attributes)
    picture.home-links-card__image
      source(srcset=spec.src)
      img.home-links-card__image--img(src=spec.src, alt=spec.alt)
    .home-links-card__text
      h3.home-links-card__title= spec.title
      ul.home-links-card__list
        each driver in spec.drivers
          li
            a(href=driver.url)
              i(class=driver.iconClass)
              span=driver.text

