mixin card-steps(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  li.card-steps(class=spec.__class)&attributes(attributes)
    picture.card-steps__image.no-mobile
      source(srcset=spec.src)
      img(src=spec.src, alt=spec.alt)
    .card-steps__text
      span.card-steps__text--number(style="background-color: " + spec.color + ";")=spec.number
      h3=spec.title
      if spec.content
        | !{spec.content}
      if spec.list
        ul
          each item in spec.list
            li=item.text
              if item.list
                ul
                  each subItem in item.list
                    li=subItem.text
