//card-steps styles 
.card-steps{
  $p: &;
  display: flex;
  justify-content: space-between;
  position: relative;

  &:last-child {
    #{$p}__text {
      padding-bottom: 0;
    }
  }

  &--reverse{
    flex-direction: row-reverse;
  }

  &__image{
    width: 50%;
    text-align: center;

    img, source {
      display: inline;
      max-width: calc(100% / 6 * 3);
    }
  }

  &__text{
    position: relative;
    padding: 0 0 40px 75px;
    flex: 0 0 50%;
    max-width: 50%;

    @include mobile{
      width: 100%;
      padding: 0 0 32px 52px;
      flex: 0 0 100%;
      max-width: 100%;
    }

    &:before {
      content: '';
      position: absolute;
      height: 100%;
      top: 0;
      left: 25px;
      border-left: 1px dashed $light-gray;

      @include mobile{
        left: 20px;
      }
    }

    h3{
      font-size: calc-em(20px);
      margin: 0 0 16px;

      @include mobile{
        margin-top: 0;
        font-size: calc-em(18px);
      }

      & + ul {
        margin: 12px 0 0;
      }
    }

    p {
      margin: 0;
      line-height: 150%;

      @include mobile{
        font-size: calc-em(14px);
      }
    }

    &--number{
      position: absolute;
      color: $white;
      font-weight: 600;
      font-size: calc-em(20px);
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;

      @include mobile{
        width: 40px;
        height: 40px;
        line-height: 40px;
      }
    }
  }

  ul{
    @include normalise-list;
    padding-left: 20px;
    line-height: 150%;
    margin: 30px 0 0;
    font-size: 16px;
    
    @include mobile{
      margin: 10px 0 0;
      font-size: 14px;
    }

    ul {
      margin: 0;
    }

    li{
      position: relative;

      &:before{
        content: ".";
        position: absolute;
        left: -18px;
        top: -5px;
        font-size: 16px;
      }
    }
  }
}