//rte styles 
.rte {
  line-height: 150%;
  margin: 0 0 50px;

  @include mobile {
    font-size: calc-em(14px);
    margin: 0 0 30px;
  }

  > * {
    margin-top: 0;
  }

  h1 {
    font-size: calc-em(28px);
  }

  h2 {
    font-size: calc-em(24px);
  }

  h3 {
    font-size: calc-em(22px);
  }

  h4 {
    font-size: calc-em(20px);
  }

  h5 {
    font-size: calc-em(18px);
  }

  h6 {
    font-size: calc-em(16px);
  }

  table {
    border: 1px solid $gray;
    border-collapse: collapse;

    th, td {
      padding: 10px;
      border-bottom: 1px solid $gray;
      min-height: 40px;
    }

    th {
      background-color: $black;
			color: #fff;
    }

    tr {
      &:nth-child(odd) {
        background-color: $light-gray5;
      }

      &:nth-child(even) {
        background-color: #fff;
      }
    }
  }

  p {
    word-wrap: break-word;

    img {
      margin-bottom: 0;
    }
  }

  a {
    color: $red;

    &:visited {
      color: $blue;
    }
  }
}