include ../../molecules/card/card
include ../../molecules/dropdown/dropdown

mixin filtered-listing(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.filtered-listing&attributes(attributes)
    .container
      header.filtered-listing__header
        h2.visuallyhidden SNEF HR Technology Solutions

      .filtered-listing__filter
        +dropdown({
          'selectorName': 'filterList',
          'selectorId': 'dropdownFilterList',
          'options': spec.filterList,
          'label': spec.title
        })

      if spec.filterList
        each list, index in spec.filterList
          ul.filtered-listing__list(id=list.value, class= [!index? 'active' : ''])
            if list.list
              each item in list.list
                +card({
                  '__class': 'card--horizontal',
                  'url': item.url,
                  'src': item.image,
                  'alt': item.alt,
                  'title': item.title,
                  'text': item.text
                }).col-sm-6

      a.filtered-listing__link.mobile-only(href=spec.link)=spec.linkText



