//filtered-list styles 
.filtered-listing {
  margin: 31px 0 62px;

  @include tablet-desktop {
    margin: 74px 0;
  }

  &__filter {
    margin: 0 0 19px;

    label {
      margin: 0 0 27px;
      font-weight: 300;
      font-size: calc-em(32px);
      line-height: 39px;
      display: block;
  
      @include mobile {
        margin: 0 0 15px;
        font-size: calc-em(24px);
        line-height: 29px;
      }
    }

    @include tablet-desktop {
      margin: 0 0 60px;
    }
  }

  &__list {
    @include normalise-list;
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;

    .card--horizontal {
      margin: 0 0 66px;

      &:last-child{
        margin-bottom: 0;
      }

      @include mobile {
        width: 100%;
        margin: 0 0 24px;
      }
    }
  }

  &__link {
    display: inline-block;
    color: $red;
    font-weight: $bold;
    font-size: calc-em(16px);
    margin: 24px 0 0;
  }
}