//form styles
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="color"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
input[type="time"],
input[type="password"],
input[type="month"],
input[type="range"],
input[type="url"],
input[type="week"],
textarea {
  line-height: 150%;
  color: $black;
  padding: 13px 17px;
  border: 1px solid rgba(196, 196, 205, 0.5);
  border-radius: 4px;
  width: 100%;

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $blackLight;
  }
  
  &::-moz-placeholder { /* Firefox 19+ */
    color: $blackLight;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: $blackLight;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $blackLight;
  }
}

input[type=checkbox],
input[type=radio] {
  @extend %vh;
  opacity: 0;
  visibility: hidden;

  &:checked {
    & + label:after {
      transform: scale(1);
    }
  }

  & + label {
    padding: 13px 17px 13px 40px;
    font-size: calc-em(16px);
    line-height: 150%;
    color: $black;
    border-radius: 4px;
    display: block;

    &:before {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      background-color: transparent;
      border: 1px solid $red;
      position: absolute;
      top: 10px;
      left: 0;
    }
    
    &:after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background-color: $red;
      position: absolute;
      top: 17px;
      left: 7px;
      transform: scale(0);
      transition: all 0.2s ease-in-out;
    }
  }
}

input[type=radio] {
  & + label {
    &:before {
      border-radius: 50%;
    }
    
    &:after {
      border-radius: 50%;
    }
  }
}


.form-group {
  margin: 0 0 30px;
  
  &:last-child {
    margin: 0;
  }

  > label,
  .label {
    display: block;
    font-weight: bold;
    font-size: calc-em(14px);
    line-height: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0 0 3px;
  }

  > div {
    display: flex;
    flex-wrap: wrap;
  }

  .form-check,
  .form-radio {
    position: relative;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

button[type=submit] {
  display: block;
  width: 100%;
  padding: 15px 35px;
  border-radius: 26px;
  cursor: pointer;
}

.form {
  margin: 28px 0 68px;

  @include tablet-desktop {
    margin: 80px 0;
  }

  .container {
    max-width: 760px;
  }

  .rte {
    margin: 0 0 30px;

    @include tablet-desktop {
      margin: 0 0 52px;
    }
  }

  &__body {

  }
}

