mixin form(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.form(class=spec.__class)&attributes(attributes)
    .container
      +rte.
        !{spec.rte}
      
      form(action="").form__body.row
        each field in spec.fields
          if field.type === 'select'
            +form-select(field)
          else if field.type === 'radio'
            +form-radio(field)
          else if field.type === 'checkbox' 
            +form-checkbox(field)
          else if field.type === 'submit'
            +form-submit(field)
          else
            +form-group(field)

mixin form-group(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .form-group(class=spec.__class)&attributes(attributes)
    label(for=spec.__id)=spec.label
      if spec.required
        | *
    if spec.required
      input(type=spec.type id=spec.__id name=spec.__id placeholder=spec.placeholder required)
    else
      input(type=spec.type id=spec.__id name=spec.__id placeholder=spec.placeholder)


mixin form-select(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .form-group(class=spec.__class)&attributes(attributes)
    label(for=spec.__id)=spec.label
      if spec.required
        | *
    if spec.required
      select(name=spec.__id id=spec.__id required) 
        each option in spec.options 
          option(value=option.value)=option.label
    else 
      select(name=spec.__id id=spec.__id) 
        each option in spec.options 
          option(value=option.value)=option.label


mixin form-radio(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .form-group(class=spec.__class)&attributes(attributes)
    span.label=spec.label
      if spec.required
        | *
    div
      each option in spec.options
        .form-radio
          if spec.required
            input(type=spec.type id=option.__id name=spec.__id value=option.value required)
          else
            input(type=spec.type id=option.__id name=spec.__id value=option.value)
          label(for=option.__id)=option.label


mixin form-checkbox(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .form-group(class=spec.__class)&attributes(attributes)
    span.label=spec.label
      if spec.required
        | *
    div
      each option in spec.options
        .form-check
          input(type=spec.type id=option.__id name=option.__id value=option.value)
          label(for=option.__id)=option.label


mixin form-submit(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .form-group(class=spec.__class)&attributes(attributes)
    button.cta(type=spec.type id=spec.__id)=spec.label