include ../../molecules/dropdown/dropdown

include ../../organisms/tabs-listing-item/tabs-listing-item

mixin tabs-listing(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.tabs-listing(class=spec.__class)&attributes(attributes)
    .container
      header.tabs-listing__header
        h2.visuallyhidden SNEF Funding & Support
      .tabs-listing__tabs
        button(type="button").mobile-only
          span=spec.tab1
          i.icon-chevron-down
        nav
          ul
            li.active
              a(href="#tab1").tabs-listing__tabs--btn.tab-1=spec.tab1
            li
              a(href="#tab2").tabs-listing__tabs--btn.tab-2=spec.tab2
            li
              a(href="#tab3").tabs-listing__tabs--btn.tab-3=spec.tab3
      .tabs-listing__content
        .tabs-listing__section.active#tab1
          if spec.tab1List
            ul.tabs-listing__list
              each item in spec.tab1List
                +tabs-listing-item({
                  'header': item.headerTitle,
                  'tag': item.companyName,
                  'image': item.image,
                  'alt': item.alt,
                  'src1': item.src1,
                  'alt1': item.alt1,
                  'title1': item.title1,
                  'text1': item.text1,
                  'src2': item.src2,
                  'alt2': item.alt2,
                  'title2': item.title2,
                  'text2': item.text2,
                  'link': item.link
                })

        .tabs-listing__section#tab2(style="display: none;")
          if spec.tab2List
            ul.tabs-listing__list
              each item in spec.tab2List
                +tabs-listing-item({
                  'header': item.headerTitle,
                  'tag': item.companyName,
                  'image': item.image,
                  'alt': item.alt,
                  'src1': item.src1,
                  'alt1': item.alt1,
                  'title1': item.title1,
                  'text1': item.text1,
                  'src2': item.src2,
                  'alt2': item.alt2,
                  'title2': item.title2,
                  'text2': item.text2,
                  'link': item.link
                })

        .tabs-listing__section#tab3(style="display: none;")
          if spec.tab3List
            ul.tabs-listing__list
              each item in spec.tab3List
                +tabs-listing-item({
                  'header': item.headerTitle,
                  'tag': item.companyName,
                  'image': item.image,
                  'alt': item.alt,
                  'src1': item.src1,
                  'alt1': item.alt1,
                  'title1': item.title1,
                  'text1': item.text1,
                  'src2': item.src2,
                  'alt2': item.alt2,
                  'title2': item.title2,
                  'text2': item.text2,
                  'link': item.link
                })
