//tabs-listing styles
.tabs-listing {
  margin: 40px 0 51px;

  @include tablet-desktop {
    margin: 55px 0 87px;
  }

  &__tabs {
    margin: 0 auto 30px;
    position: relative;

    @include tablet-desktop {
      margin: 0 auto 50px;
    }

    button {
      display: block;
      width: 100%;
      border-radius: 4px;
      margin: 0;
      padding: 17px 50px 17px 17px;
      border: none;
      position: relative;
      text-align: left;
      background-color: $light-gray5;

      span {
        font-weight: 600;
        font-size: calc-em(14px);
        line-height: 17px;
      }

      i {
        color: $red;
        position: absolute;
        top: 50%;
        right: 17px;
        font-size: calc-em(20px);
        transform: translate(0, -50%);
      }
    }

    nav {
      &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }

      @include mobile {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        right: 0;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
        background-color: #fff;
        border-radius: 4px;
        z-index: 1;
        padding: 5px 0;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }

      @include tablet-desktop {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }

    ul {
      @include normalise-list;

      @include tablet-desktop {
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }
    }

    li {
      @include mobile {
        flex: 0 0 100%;
        max-width: 100%;
      }

      &:hover,
      &.active {
        a {
          color: $red;

          @include tablet-desktop {
            border-bottom: 5px solid $red;
          }
        }
      }

      &.active {
        a {
          font-weight: 600;
        }
      }
    }

    a {
      display: block;
      padding: 17px;
      margin: 0;
      font-size: calc-em(14px);
      line-height: 1.2;
      color: $black;
      transition: all 0.3s ease-in-out;
      text-decoration: none;

      @include tablet-desktop {
        padding: 14px 16px 10px;
        font-size: calc-em(20px);
        color: $gray;
        background-color: transparent;
        border-bottom: 5px solid $light-gray;
      }
    }
  }

  &__list {
    @include normalise-list;
  }
}
