extends ../_layouts/base

include ../_modules/molecules/breadcrumb/breadcrumb
include ../_modules/molecules/pagination/pagination

include ../_modules/organisms/page-footer/page-footer
include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/article-listing/article-listing

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'Latest Articles'

block content
  +breadcrumb({
    "breadcrumbs": [
      {
        "name": "Home",
        "url": "/"
      },
      {
        "name": "Success Stories"
      }
    ]
  })

  +page-banner({
    "image": "/assets/images/women-banner.png",
    "alt": "Banner image",
    "title": "Latest Articles"
  })

  +article-listing({
    "articles": [
      {
        "__class": "col-sm-6 card--cover",
        "image": "/assets/images/article-1.jpg",
        "title": "Eight forces driving HR transformation right now",
        "date": "7 Sep 2020",
        "text": "In an age where corporate culture is a Board-level matter, workforce planning and talent development enable or disable workforce agility...",
        "url": "#"
      },
      {
        "__class": "col-sm-6 card--cover",
        "image": "/assets/images/article-2.jpg",
        "title": "Will HR transformation be the thread that ties value to experiences?",
        "date": "7 Sep 2020",
        "text": "Your future people function should operate horizontally across your ...",
        "url": "#"
      },
      {
        "__class": "col-sm-6 card--cover",
        "image": "/assets/images/article-3.jpg",
        "title": "Five leadership behaviors for all of us during COVID-19",
        "date": "7 Sep 2020",
        "text": "COVID-19 is challenging us. We offer perspective to anchor your and our collective action to help heal the wo...",
        "url": "#"
      },
      {
        "__class": "col-sm-4 card--cover",
        "image": "/assets/images/article-4.jpg",
        "title": "How employers and employees are envisioning the reimagined workplace",
        "date": "7 Sep 2020",
        "text": "As lockdowns are lifting, organizations are beginning to imagine new methods of working, collaboration and effec…",
        "url": "#"
      },
      {
        "__class": "col-sm-4 card--cover",
        "image": "/assets/images/article-5.jpg",
        "title": "COVID-19: What employers need to do and how governments are helping",
        "date": "7 Sep 2020",
        "text": "The regularly updated EY global labor and employment law tracker helps you monitor rapidly emerging regulations a…",
        "url": "#"
      },
      {
        "__class": "col-sm-4 card--cover",
        "image": "/assets/images/article-6.jpg",
        "title": "How COVID-19 is disrupting immigration policies and worker mobility: a tracker",
        "date": "7 Sep 2020",
        "text": "The EY global immigration tracker helps you monitor rapidly emerging mobility issues related to COVID-19.",
        "url": "#"
      }
    ]
  })