include ../../atoms/hamburger-menu-btn/hamburger-menu-btn
include ../../molecules/primary-menu/primary-menu
include ../../molecules/site-logo/site-logo
include ../../molecules/site-navigation/site-navigation


mixin site-header(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  header.site-header&attributes(attributes)
    .container
      +site-logo()

      +site-navigation


      //- +primary-menu({
      //-   'menu':[
      //-     {
      //-       'name': 'JR Methodology',
      //-       'url': '/step-by-step-template'
      //-     },
      //-     {
      //-       'name': 'HR Tech Solutions',
      //-       'url': '/filtered-listing-template'
      //-     },
      //-     {
      //-       'name': 'Success Stories',
      //-       'url': '/success-story-listing-template'
      //-     },
      //-     {
      //-       'name': 'Funding & Support',
      //-       'url': '/tabs-listing-template'
      //-     },
      //-     {
      //-       'name': 'Media',
      //-       '__class': 'link-to-submenu',
      //-       'children':[
      //-         {
      //-           'name': 'Latest Articles',
      //-           'url': '#'
      //-         },
      //-         {
      //-           'name': 'Upcoming Events',
      //-           'url': '/event-listing-template'
      //-         }
      //-       ]
      //-     },
      //-     {
      //-       'name': 'e-toolkit ',
      //-       '__class': 'link-to-submenu',
      //-       'icon': 'icon',
      //-       'children':[
      //-         {
      //-           'name': 'Launch e-toolkit',
      //-           'url': '#'
      //-         },
      //-         {
      //-           'name': 'Download e-toolkit',
      //-           'url': '#'
      //-         }
      //-       ]
      //-     }
      //-   ]
      //- })

