//site-header styles
.site-header {
  $p: &;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  background-color: $white;
  padding: 10px 0;

  @include desktop {
    border-bottom: 1px solid $light-gray;
    padding: 12px 0 11px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;

    &:before,
    &:after {
      display: none;
    }
  }

  &.active {
    #{$p}__nav {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transform: translate(0, 0);
    }
  }
}
