
%vh {
  @include visuallyhidden();
}

%clearfix { @include clearfix(); }

%visuallyhidden {
  @include visuallyhidden;
}

.visuallyhidden {
  @extend %visuallyhidden;
}

%container {
  @extend %clearfix;
  margin: auto;
  position: relative;
  width: 100%;
  padding: 0 20px;
}

%list-unstyled {
  @include normalise-list;
}

.clearfix {
  @extend %clearfix;
}

.container {
  @extend %container;
  max-width: 1180px;

  @media only screen and (min-width: 1600px) {
    max-width: $bpXLgDesktop;
  }
}

.vh, .sr-only {
  @extend %vh;
}

.img-responsive {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
  width: 100%;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.row {
  margin: 0 (-$gutter);
  display: flex;
  flex-wrap: wrap;
}

.reverse-col {
  flex-direction: row-reverse;
}

[class^="col-"], [class*=" col-"] {
  width: 100%;
  padding: 0 $gutter;
}

[class^="col-offset-"], [class*=" col-offset-"] {
  margin: auto;
}

.tablet-only {
  display: none !important;
}

.desktop-only {
  display: none !important;
}

@media only screen and (min-width: 576px) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

@for $i from 1 through 12 {
  .col-xs-#{$i} {
    flex: 0 0 (100% / 12 * $i);
    max-width: (100% / 12 * $i);
  }
  
  // .align-left {
  //   // display: inline-block;
  //   float: left;
  //   clear: both;
  //   margin: 20px 20px 20px 0px !important;
  // }

  // .align-right {
  //   // display: inline-block;
  //   float: right;
  //   clear: both;
  //   margin: 20px 0px 20px 20px !important;
  // }

  .text-center {
    text-align: center;
  }
  
  .col-offset-xs-#{$i} {
    margin-left: (100% / 12 * $i);
  }
}

@media only screen and (max-width: $bpTablet - 1) {
  .no-mobile {
    display: none !important;
  }
}

@media only screen and (min-width: $bpTablet) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      flex: 0 0 (100% / 12 * $i);
      max-width: (100% / 12 * $i);
    }

    .col-offset-sm-#{$i} {
      margin-left: (100% / 12 * $i);
    }
  }

  .mobile-only {
    display: none !important;
  }
}

@media only screen and (min-width: $bpTablet) and (max-width: $bpDesktop - 1) {
  .tablet-only {
    display: block !important;
  }

  .no-tablet {
    display: none !important;
  }
}

@media only screen and (min-width: $bpDesktop) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      flex: 0 0 (100% / 12 * $i);
      max-width: (100% / 12 * $i);
    }

    .col-offset-md-#{$i} {
      margin-left: (100% / 12 * $i);
    }
  }

  .desktop-only {
    display: block !important;
  }

  .no-desktop {
    display: none !important;
  }
}

@media only screen and (min-width: $bpLgDesktop) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      flex: 0 0 (100% / 12 * $i);
      max-width: (100% / 12 * $i);
    }

    .col-offset-lg-#{$i} {
      margin-left: (100% / 12 * $i);
    }
  }
}

@media print {
  .row {
    display: block;
  }

  [class*=" col-"], [class^=col-] {
    float: left;
  }
}
