$gutter: 10px;
$headerHeight: 53px;
$headerHeightDesktop: 80px;

/* Breakpoints */
$bpMobile: 320px;
$bpLgMobile: 375px;
$bpXlMobile: 540px;
$bpTablet: 768px;
$bpDesktop: 1024px;
$bpLgDesktop: 1280px;
$bpXLgDesktop: 1440px;
$bpXXLgDesktop: 1536px;

$container: 1440px;

$readArea: 968px;
$readAreaLg: 1140px;

/* Font Weight */
$base-fontsize: 16px;
$base-lineheight: 1.3;

$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

// Colour
$white: #FFFFFF;
$black: #262626;
$blackLight: rgba(38, 38, 38, 0.5);

$light-gray: #AFAFAF;
$light-gray2: #CBCBCB;
$light-gray3: #C4C4CD;
$light-gray4: #F6F6F6;
$light-gray5: #E2E2E2;
$light-gray6: #C4C4CD;
$gray:#545454;
$dark-gray: #333333;
$purple: #554194;
$orange: #e85c4a;
$red: #B51E1E;
$red2: #E85C4A;
$pink: #CB2B99;
$purple: #422C88;
$blue: #276EF1;

/* Easing */
$easeInOutExpo: cubic-bezier(0.75, 0, 0, 0.75);
$easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55);

$boxShadow: 0 5px 10px 0 transparentize(#000, .8);
