//Normalize styles
@import '../../node_modules/normalize.css/normalize';
@import '_mixins';
@import '_variables';
@import '_helpers';
// @import '_fonts';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import '_icomoon';
@import '../_icomoon/style.scss';


// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  background: #fff;
  color: $black;
  margin: auto;
}

iframe {
  border: none;
}

iframe, video {
  display: block;
  max-width: 100%;
  margin-bottom: 1rem;
}

#mainContent{
  min-height: 73vh;
  margin-top: $headerHeight;

  @include desktop {
    margin-top: $headerHeightDesktop;
  }
}

picture, img, picture source {
  display: block;
  max-width: 100%;
}


// Common

// Atoms
@import "../_modules/atoms/button/button";
@import "../_modules/atoms/hamburger-menu-btn/hamburger-menu-btn";
@import "../_modules/atoms/cta/cta";

// Molecules
@import "../_modules/molecules/site-logo/site-logo";
@import "../_modules/molecules/site-navigation/site-navigation";
@import "../_modules/molecules/driver-card/driver-card";
@import "../_modules/molecules/card/card";
@import "../_modules/molecules/card-full-width/card-full-width";
@import "../_modules/molecules/story-thumbnail/story-thumbnail";
@import "../_modules/molecules/breadcrumb/breadcrumb";
@import "../_modules/molecules/card-steps/card-steps";
@import "../_modules/molecules/card-steps-list/card-steps-list";
@import "../_modules/molecules/dropdown/dropdown";
@import "../_modules/molecules/story-card/story-card";
@import "../_modules/molecules/card--horizontal-bg/card--horizontal-bg";
@import "../_modules/molecules/card-two--horizontal/card-two--horizontal";
@import "../_modules/molecules/pagination/pagination";
@import "../_modules/molecules/article-header/article-header";

// Organisms
@import "../_modules/organisms/site-header/site-header";
@import "../_modules/organisms/site-footer/site-footer";
@import "../_modules/organisms/rte/rte";
@import "../_modules/organisms/home-banner/home-banner";
@import "../_modules/organisms/home-links/home-links";
@import "../_modules/organisms/home-cards/home-cards";
@import "../_modules/organisms/home-success-stories/home-success-stories";
@import "../_modules/organisms/page-footer/page-footer";
@import "../_modules/organisms/page-banner/page-banner";
@import "../_modules/organisms/step-by-step-guide/step-by-step-guide";
@import "../_modules/organisms/filtered-listing/filtered-listing";
@import "../_modules/organisms/success-story-listing/success-story-listing";
@import "../_modules/organisms/tabs-listing/tabs-listing";
@import "../_modules/organisms/event-listing/event-listing";
@import "../_modules/organisms/tabs-listing-item/tabs-listing-item";
@import "../_modules/organisms/article-listing/article-listing";
@import "../_modules/organisms/form/form";
@import "../_modules/organisms/article-content/article-content";




