@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?sq3jfr');
  src:  url('fonts/icomoon.eot?sq3jfr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?sq3jfr') format('truetype'),
    url('fonts/icomoon.woff?sq3jfr') format('woff'),
    url('fonts/icomoon.svg?sq3jfr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play-button:before {
  content: "\e91e";
}
.icon-calendar:before {
  content: "\e921";
}
.icon-boxes-vector:before {
  content: "\e913";
}
.icon-circles-vector:before {
  content: "\e914";
}
.icon-triangles-vector:before {
  content: "\e915";
}
.icon-arrow-down:before {
  content: "\e916";
}
.icon-chevron-right:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e901";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-chevron-up:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-checkmark:before {
  content: "\e911";
}
.icon-filter:before {
  content: "\e912";
}
.icon-apps:before {
  content: "\e905";
}
.icon-bookmark:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-sgcrest:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e909";
}
.icon-instagram:before {
  content: "\e90a";
}
.icon-youtube:before {
  content: "\e90b";
}
.icon-linkedin:before {
  content: "\e90f";
}
.icon-twitter:before {
  content: "\e910";
}
.icon-bookmark-empty:before {
  content: "\e90c";
}
.icon-curly-arrow:before {
  content: "\e90d";
}
.icon-box-arrow:before {
  content: "\e90e";
}
.icon-arrow-right:before {
  content: "\e91d";
}
.icon-rocket:before {
  content: "\e917";
}
.icon-old-person:before {
  content: "\e918";
}
.icon-three-arrows-left:before {
  content: "\e919";
}
.icon-multitasking:before {
  content: "\e91a";
}
.icon-people:before {
  content: "\e91b";
}
.icon-motivation:before {
  content: "\e91c";
}
.icon-time:before {
  content: "\e923";
}
