@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?sq3jfr');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?sq3jfr#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?sq3jfr') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?sq3jfr') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?sq3jfr##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play-button {
  &:before {
    content: $icon-play-button; 
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar; 
  }
}
.icon-boxes-vector {
  &:before {
    content: $icon-boxes-vector; 
  }
}
.icon-circles-vector {
  &:before {
    content: $icon-circles-vector; 
  }
}
.icon-triangles-vector {
  &:before {
    content: $icon-triangles-vector; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark; 
  }
}
.icon-filter {
  &:before {
    content: $icon-filter; 
  }
}
.icon-apps {
  &:before {
    content: $icon-apps; 
  }
}
.icon-bookmark {
  &:before {
    content: $icon-bookmark; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-sgcrest {
  &:before {
    content: $icon-sgcrest; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-instagram {
  &:before {
    content: $icon-instagram; 
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-bookmark-empty {
  &:before {
    content: $icon-bookmark-empty; 
  }
}
.icon-curly-arrow {
  &:before {
    content: $icon-curly-arrow; 
  }
}
.icon-box-arrow {
  &:before {
    content: $icon-box-arrow; 
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right; 
  }
}
.icon-rocket {
  &:before {
    content: $icon-rocket; 
  }
}
.icon-old-person {
  &:before {
    content: $icon-old-person; 
  }
}
.icon-three-arrows-left {
  &:before {
    content: $icon-three-arrows-left; 
  }
}
.icon-multitasking {
  &:before {
    content: $icon-multitasking; 
  }
}
.icon-people {
  &:before {
    content: $icon-people; 
  }
}
.icon-motivation {
  &:before {
    content: $icon-motivation; 
  }
}
.icon-time {
  &:before {
    content: $icon-time; 
  }
}

