$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-play-button: "\e91e";
$icon-calendar: "\e921";
$icon-boxes-vector: "\e913";
$icon-circles-vector: "\e914";
$icon-triangles-vector: "\e915";
$icon-arrow-down: "\e916";
$icon-chevron-right: "\e900";
$icon-chevron-left: "\e901";
$icon-chevron-down: "\e902";
$icon-chevron-up: "\e903";
$icon-close: "\e904";
$icon-checkmark: "\e911";
$icon-filter: "\e912";
$icon-apps: "\e905";
$icon-bookmark: "\e906";
$icon-search: "\e907";
$icon-sgcrest: "\e908";
$icon-facebook: "\e909";
$icon-instagram: "\e90a";
$icon-youtube: "\e90b";
$icon-linkedin: "\e90f";
$icon-twitter: "\e910";
$icon-bookmark-empty: "\e90c";
$icon-curly-arrow: "\e90d";
$icon-box-arrow: "\e90e";
$icon-arrow-right: "\e91d";
$icon-rocket: "\e917";
$icon-old-person: "\e918";
$icon-three-arrows-left: "\e919";
$icon-multitasking: "\e91a";
$icon-people: "\e91b";
$icon-motivation: "\e91c";
$icon-time: "\e923";

