extends ../_layouts/base

include ../_modules/molecules/breadcrumb/breadcrumb

include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/page-footer/page-footer
include ../_modules/organisms/step-by-step-guide/step-by-step-guide

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'Job Redesign Methodology'

block content
  +breadcrumb({
    'breadcrumbs': [
      {
        'name': 'Home',
        'url': '/'
      },
      {
        'name': 'Job Redesign Methodology'
      }
    ]
  })

  +page-banner({
    "image": "/assets/images/women-banner.png",
    "alt": "Banner image",
    'title': 'Job Redesign Methodology',
    'text': 'The Job Redesign methodology has been developed to guide enterprises like yourself through the Job Redesign process'
  })

  +step-by-step-guide({
    'steps': site.data.stepByStepGuide
  })

  +page-footer({
    'text': 'Download the e-toolkit for details on the HR technology solutions and how it impacts HR job functions',
    'link1': '#',
    'name1': 'Launch e-toolkit',
    "ctas": [
      {
        'url': '#',
        'label': 'Launch e-toolkit',
      }
    ],
    'linkUrl': '#',
    'linkLabel': 'Download pdf version'
  })