//cta styles 
.cta {
  padding: 9px 35px;
  border-radius: 20px;
  border: 1px solid $red;
  background-color: $red;
  text-decoration: none;
  color: $white;
  font-size: calc-em(16px);
  font-weight: 700;
  line-height: 19px;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  text-align: center;
  
  &:hover{
    background-color: $white;
    color: $red;
    border-color: $red;
  }

  &.cta--reverse {
    background-color: $white;
    color: $red;

    &:hover{
      background-color: $red;
      color: $white;
    }
  }

  @media only screen and (max-width: 340px){
    padding: 9px 20px;
    font-size: calc-em(14px);
  }
}