extends ../_layouts/base

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'Pages'

block content
  .container
    table
      thead
        tr
          th Page
          th URL
      tbody
        tr
          td /home
          td
            a(href="/" target="_blank") /home
        tr
          td /job-redesign-methodology
          td
            a(href="/job-redesign-methodology" target="_blank") /job-redesign-methodology
        tr
          td /hr-technology-solutions
          td
            a(href="/hr-technology-solutions" target="_blank") /hr-technology-solutions
        tr
          td /success-stories
          td
            a(href="/success-stories" target="_blank") /success-stories
        tr
          td /funding-and-support
          td
            a(href="/funding-and-support" target="_blank") /funding-and-support
        tr
          td /upcoming-events
          td
            a(href="/upcoming-events" target="_blank") /upcoming-events
        tr
          td /latest-articles
          td
            a(href="/latest-articles" target="_blank") /latest-articles
        tr
          td /article
          td
            a(href="/article" target="_blank") /article
        tr
          td /form
          td
            a(href="/download-e-toolkit" target="_blank") /download-e-toolkit
