//card styles 
.card {
  $p: &;

  a {
    text-decoration: none;
    display: block;
  }

  &__image {
    display: block;
    margin-bottom: 20px;
    
    @include tablet-desktop {
      margin-bottom: 30px;
    }
  }

  &__text {
    color: $black;

    h3{
      font-weight: 600;
      font-size: calc-em(18px);
      line-height: 22px;
      margin: 0 0 9px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;  
      overflow: hidden;

      @include tablet-desktop {
        font-size: calc-em(20px);
        line-height: 24px;
        margin: 0 0 13px;
      }
    }

    p {
      font-size: calc-em(14px);
      line-height: 150%;
      margin: 0 0 12px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;  
      overflow: hidden;

      @include tablet-desktop {
        font-size: calc-em(16px);
      }

      &:last-child {
        margin: 0;
      }
    }
  }
  
  &__details {
    line-height: 150%;
    margin: 0 0 9px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: $red;

    @include mobile {
      font-size: calc-em(14px);
    }

    > span {
      margin: 0 20px 0 0;
    }

    .label {
      white-space: nowrap;
    }

    .icon {
      color: $red;
      margin-right: 8px;

      & + .label {
        opacity: 0.7;
        color: $black;
      }
    }
  }

  &--cover {
    #{$p}__image {
      @include aspect-ratio(364, 205, 100%);
      border-radius: 4px;
      overflow: hidden;

      img, source {
        @include aspect-ratio-img;
        @include image-cover;
      }
    }
  }

  &--horizontal {
    display: flex;
    
    a {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
    }
  
    #{$p}__image {
      flex: 0 0 calc(100% / 3);
      max-width: calc(100% / 3);
      margin-bottom: 0;

      @include mobile {
        flex: 100%;
        max-width: 100%;
      }
    }
  
    #{$p}__text {
      flex: 0 0 calc(100% / 3 * 2);
      max-width: calc(100% / 3 * 2);

      p {
        display: block;
        -webkit-line-clamp: unset;
        -webkit-box-orient: unset;  
        overflow: hidden;
      }
  
      @include mobile {
        flex: 100%;
        max-width: 100%;
      }
    }
  }
}