include ../../atoms/cta/cta

mixin card(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  li.card(class=spec.__class)&attributes(attributes)
    if spec.url
      a(href=spec.url)
        picture.card__image
          source(srcset=spec.src)
          img(src=spec.src, alt=spec.alt)
        .card__text
          h3=spec.title
          if spec.company || spec.date || spec.time
            .card__details
              if spec.company
                span.card__details--company
                  span.label=spec.company
              if spec.date
                span.card__details--date
                  if spec.dateIcon
                    span.icon.icon-calendar
                  span.label=spec.date
              if spec.time
                span.card__details--time
                  if spec.timeIcon
                    span.icon.icon-time
                  span.label=spec.time
          if spec.text
            p=spec.text
    else
      picture.card__image
        source(srcset=spec.src)
        img(src=spec.src, alt=spec.alt)
      .card__text
        h3=spec.title
        if spec.company || spec.date || spec.time
          .card__details
            if spec.company
              span.card__details.card__details--company
                span=spec.company
            if spec.date
              span.card__details.card__details--date
                if spec.dateIcon
                  span.icon.icon-calendar
                span.date=spec.date
            if spec.time
              span.card__details.card__details--time
                if spec.timeIcon
                  span.icon.icon-time
                    span.path1
                    span.path2
              span.time=spec.time
        if spec.text
          p=spec.text

