include ../card/card
include ../../atoms/cta/cta

mixin card-two--horizontal(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  li.card-two--horizontal&attributes(attributes)
    .card-two--horizontal__header 
      h3.card-two--horizontal__header--title=spec.header 
      span.card-two--horizontal__header--tag=spec.tag 
      img.card-two--horizontal__header--img(src=spec.image, alt=spec.alt)
    ul.card-two--horizontal__list 
      +card({
        'headerType': 'h4',
        '__class': 'card--horizontal',
        'title': spec.title1,
        'text': spec.text1,
        'src': spec.src1,
        'alt': spec.alt1
      })
      +card({
        'headerType': 'h4',
        '__class': 'card--horizontal',
        'title': spec.title2,
        'text': spec.text2,
        'src': spec.src2,
        'alt': spec.alt2
      })
    +cta({
      'link': spec.link,
      '__class': 'cta--reverse',
      'name': 'Find out more'
    })
