//card-two--horizontal styles 

.card-two--horizontal{

    margin-bottom: 40px;
    border: 1px solid $light-gray6;
    border-radius: 5px;
    padding: 20px 30px;
    padding-bottom: 60px;

    &:first-child{

        margin-top: 80px;

        @include mobile{

            margin-top: 20px;

        }
    }

    @include mobile{

        padding: 20px;

        .cta{

            display: block;
            text-align: center;
            margin-bottom: 20px;

        }

    }

    &__header{

        position: relative;

        @include mobile{

            &--title{
                        
                margin-top: 0;
                width: 62%;
                font-size: calc-em(16px);

            }

            &--tag{

                font-size: calc-em(14px);

            }

            &--img{

                // width: 30%;
                max-width: 77px;
                top: 32%;

            }

        }

        &--img{

            // float: right;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);

        }

        &--title{

            margin-bottom: 10px;

        }

    }

    &__list{

        margin: 30px 0;
        display: flex;
        justify-content: space-between;

        @include mobile{

            margin-bottom: 10px;

        }

        .card{

            width: 50%;

            @include mobile{

                flex-direction: row;
                margin: 0;
                margin-bottom: 20px;
                width: 100%;

                &:last-child{
                    
                    margin-bottom: 0;

                }

                &__img{

                    img{

                        width: 33px

                    }
                }
            }

            &:first-child{

                margin-top: 0;
                margin-right: 80px;

            }



        }

        .card__text{

            width: 100%;

            h4{

                margin: 8px 0;
                
                @include mobile{

                    font-size: calc-em(16px);

                }


            }

            p{

                margin-top: 8px;

                @include mobile{

                    font-size: calc-em(14px);

                }

            }

        }

        .card__image{

            margin-right: 20px;

            @include mobile{

                width: 40px;
                
                img{

                    margin-top: 3px;

                }

            }

        }
    }
}