extends ../_layouts/base

include ../_modules/molecules/breadcrumb/breadcrumb
include ../_modules/molecules/dropdown/dropdown

include ../_modules/organisms/page-footer/page-footer
include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/filtered-listing/filtered-listing


block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'HR Technology Solutions'

block content
  +breadcrumb({
    'breadcrumbs': [
      {
        'name': 'Home',
        'url': '/'
      },
      {
        'name': 'HR Technology Solutions'
      }
    ]
  })
  
  +page-banner({
    "image": "/assets/images/women-banner.png",
    "alt": "Banner image",
    'title': 'HR Technology Solutions',
    'text': 'Find out how HR Technology can enahnce your HR capabilities and productivity.'
  })

  +filtered-listing({
    'title': 'Select a HR functional area:',
    'filterList':site.data.filteredListItem,
    'linkText': 'View Time and Leave management software',
    'link': '/#'
  })
  
  +page-footer({
    'text': 'Download the e-toolkit for details on the HR technology solutions and how it impacts HR job functions',
    'link1': '#',
    'name1': 'Launch e-toolkit',
    "ctas": [
      {
        'url': '#',
        'label': 'Launch e-toolkit',
      }
    ],
    'linkUrl': '#',
    'linkLabel': 'Download pdf version'
  })