include ../../molecules/card/card
include ../../atoms/cta/cta

mixin home-cards(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.home-cards&attributes(attributes)
    .container
      header.home-cards__header
        h2.home-cards__title Benefits of deploying Job Redesign
      ul.home-cards__list.row
        +card({
          'url':'#',
          'src': '/assets/images/conference-outline_flatline.png',
          'alt': 'conference image',
          'title': 'Empowers employees',
          'text': 'improves productivity, efficiency and employee satisfaction with decreased turnover and errors.',
          "__class": "col-sm-6"
        })
        +card({
          'url':'#',
          'src': '/assets/images/online-lesson_flatline.png',
          'alt': 'online lesson image',
          'title': 'Improves performance',
          'text': 'Increases efficiency and effectiveness of work processes through integrated technology usage and enahnced capabilities.',
          "__class": "col-sm-6"
        })
      +cta({
        'link': '#',
        'name': 'Find your HR Tech solution'
      })
      
