//home-cards styles 
.home-cards{
  margin: 36px 0 46px;

  @include desktop{
    margin: 80px 0 95px;
  }

  &__title{
    font-weight: $light;
    margin: 0 0 20px;
    font-size: calc-em(24px);
    line-height: 29px;

    @include desktop {
      margin: 0 0 40px;
      font-size: calc-em(32px);
      line-height: 39px;
    }
  }

  &__list{
    display: flex;
    margin-bottom: 30px;
    @include normalise-list;

    @include mobile {
      .card {
        margin-bottom: 37px;
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @include tablet-desktop {
      margin-bottom: 17px;

      .card {
        > * {
          width: calc(100% / 6 * 5);
        }
      }
    }
  }
}