extends ../_layouts/base

include ../_modules/molecules/breadcrumb/breadcrumb

include ../_modules/organisms/page-footer/page-footer
include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/tabs-listing/tabs-listing

block config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'Funding and support'

block content
  +breadcrumb({
    'breadcrumbs': [
      {
        'name': 'Home',
        'url': '/'
      },
      {
        'name': 'Funding & Support'
      }
    ]
  })

  +page-banner({
    "image": "/assets/images/women-banner.png",
    "alt": "Banner image",
    'title': 'Funding & Support',
    'text': 'Explore available resources and grants that can support you in your HR Technology Adoption and Job Redesign journey.'
  })

  +tabs-listing({
    'tab1': 'HR Technology Solution',
    'tab2': 'Job Redesign',
    'tab3': 'Workforce Management',
    'selectorName': 'fundingFilter',
    'selectorId': 'fundingFilter',
    'options': [
      {
        'value': 'tab1',
        'text': 'HR Technology Adoption'
      },
      {
        'value': 'tab2',
        'text': 'Job Redesign'
      },
      {
        'value': 'tab3',
        'text': 'Workforce Management'
      },
    ],
    'tab1List': [
      {
        'headerTitle': 'SG Tech',
        'companyName': 'by SG Tech',
        'image': '/assets/images/SGTECH-logo.png',
        'alt': 'SG Tech company logo',
        'src1': '/assets/images/question-funding.png',
        'alt1': 'question mark image',
        'title1': 'What is it?',
        'text1':"An ecosystem of members of the Tech industry supporting Singapore's technology agenda through efforts to anticipate trends and develop sustainable technology-led initiatives which support companies in using technology as a core driver of their business.",
        'src2': '/assets/images/money-rotate-funding.png',
        'alt2': 'money rotate image',
        'title2': 'How will enterprises benefit?',
        'text2': 'Companies can access support and development resources offered within the SG Tech ecosystem through services and activities such as networking, talent and capabilities, conferences, seminars and dialogues, trade missions and international alliances.',
        'link': '/#'
      },
      {
        'headerTitle': 'Enterprise Development Grant',
        'companyName': 'by Enterprise Singapore',
        'image': '/assets/images/ESG-logo.png',
        'alt': 'Enterprise SG logo',
        'src1': '/assets/images/question-funding.png',
        'alt1': 'question mark image',
        'title1': 'What is it?',
        'text1':"This grant supports projects that help businesses to upgrade, innovate or venture overseas across 3 areas: Core Capabilities, Innovation & Productivity, and Market Access.",
        'src2': '/assets/images/money-rotate-funding.png',
        'alt2': 'money rotate image',
        'title2': 'How will enterprises benefit?',
        'text2': 'Funding support of up to 80% for qualifying project costs, namely third party consultancy fees, software and equipment, and internal manpower cost. Unionised enterprises and e2i partners under the Labour Movement are eligible to receive an additional 10% funding support, subject to NTUC e2i’s assessment.',
        'link': '/#'
      },
      {
        'headerTitle': 'GoBusiness Gov Assist',
        'companyName': 'by Government of Singapore',
        'image': '/assets/images/GOVSG-logo.png',
        'alt': 'Government SG logo',
        'src1': '/assets/images/question-funding.png',
        'alt1': 'question mark image',
        'title1': 'What is it?',
        'text1':"Previously known as the SME Portal, the GoBusiness Gov Assist website is a one-stop portal that provides easy access and information on government related assistance for businesses covering productivity, technology and digitalisation related grants.",
        'src2': '/assets/images/money-rotate-funding.png',
        'alt2': 'money rotate image',
        'title2': 'How will enterprises benefit?',
        'text2': 'With GoBusiness Gov Assist, enterprises in Singapore can access details of government assistance schemes under one roof. Besides various productivity enhancement, technology adoption and digitalisation grants, the site covers over 100 assistance schemes, ranging from funding support to references and programs for building capabilities, skills and knowledge. These include the Enterprise Development Grant by Enterprise Singapore and the SGUnited Jobs Initiative by Workforce Singapore and SkillsFuture Singapore.',
        'link': '/#'
      },
      {
        'headerTitle': 'Productivity Solutions Grant',
        'companyName': 'by Enterprise Singapore',
        'image': '/assets/images/ESG-logo.png',
        'alt': 'Enterprise SG logo',
        'src1': '/assets/images/question-funding.png',
        'alt1': 'question mark image',
        'title1': 'What is it?',
        'text1':"This grant supports companies' adoption of IT solutions and equipment to enhance business processes. It covers both sector-specific solutions and cross-industry solutions, including those for HR.",
        'src2': '/assets/images/money-rotate-funding.png',
        'alt2': 'money rotate image',
        'title2': 'How will enterprises benefit?',
        'text2': 'Up to 80% of funding support is available for the pre-scoped solutions, subject to the annual company grant cap. A list of readily adoptable solutions to automate existing processes and improve productivity is available.',
        'link': '/#'
      },
      {
        'headerTitle': 'SkillsFuture Enterprise Credit',
        'companyName': 'by SkillsFuture Singapore',
        'image': '/assets/images/SKILLS-logo.png',
        'alt': 'SkillsFuture logo',
        'src1': '/assets/images/question-funding.png',
        'alt1': 'question mark image',
        'title1': 'What is it?',
        'text1':"This grant supports companies' adoption of IT solutions and equipment to enhance business processes. It covers both sector-specific solutions and cross-industry solutions, including those for HR.",
        'src2': '/assets/images/money-rotate-funding.png',
        'alt2': 'money rotate image',
        'title2': 'How will enterprises benefit?',
        'text2': 'Up to 80% of funding support is available for the pre-scoped solutions, subject to the annual company grant cap. A list of readily adoptable solutions to automate existing processes and improve productivity is available.',
        'link': '/#'
      },
      {
        'headerTitle': 'HRTech.sg',
        'companyName': 'by Ikigai Enablers',
        'image': '/assets/images/IKIGAI-logo.png',
        'alt': 'Ikigai Enablers logo',
        'src1': '/assets/images/question-funding.png',
        'alt1': 'question mark image',
        'title1': 'What is it?',
        'text1':"The platform provides a marketplace for organisations to find suitable HR Tech solutions to address their business and talent challenges.",
        'src2': '/assets/images/money-rotate-funding.png',
        'alt2': 'money rotate image',
        'title2': 'How will enterprises benefit?',
        'text2': 'Organisations can search for HR Tech solutions which best suit their specific HR needs.',
        'link': '/#'
      }
    ],

    'tab2List': [
      {
        'headerTitle': 'HRTech.sg',
        'companyName': 'by Ikigai Enablers',
        'image': '/assets/images/IKIGAI-logo.png',
        'alt': 'SG Tech company logo',
        'src1': '/assets/images/question-funding.png',
        'alt1': 'question mark image',
        'title1': 'What is it?',
        'text1':"An ecosystem of members of the Tech industry supporting Singapore's technology agenda through efforts to anticipate trends and develop sustainable technology-led initiatives which support companies in using technology as a core driver of their business.",
        'src2': '/assets/images/money-rotate-funding.png',
        'alt2': 'money rotate image',
        'title2': 'How will enterprises benefit?',
        'text2': 'Companies can access support and development resources offered within the SG Tech ecosystem through services and activities such as networking, talent and capabilities, conferences, seminars and dialogues, trade missions and international alliances.',
        'link': '/#'
      }
    ]
  })
  
  +page-footer({
    'title': 'Get Started',
    'src': '/assets/images/teamwork-flatline.png',
    'text': 'Enhance your HR capabilities and productivity through technology adoption and Job Redesign',
    'alt': 'teamwork image',
    "ctas": [
      {
        'url': '#',
        'label': 'Learn how to Job Redesign',
      },
      {
        'url': '#',
        'label': 'Find your HR Tech Solution',
      }
    ]
  })