include ../../molecules/story-card/story-card

mixin success-story-listing(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.success-story-listing&attributes(attributes)
    .container
      header.success-story__header
        h2.visuallyhidden SNEF Success Stories
      ul.success-story-listing__list
        each item in spec.list
          +card({
            "__class": item.class,
            "src": item.src,
            "videoLink": item.videoLink,
            "title": item.title,
            "company": item.company,
            "text": item.text,
            "url": item.url
          })

