//success-story-listing styles 
.success-story-listing {
  margin: 44px 0 11px;

  @include tablet-desktop {
    margin: 70px 0 40px;
  }

  &__list {
    @include normalise-list;
    @include row($gutter);
    
    @include tablet-desktop {
      @include clearfix;
      display: block;
    }

    > * {
      margin-bottom: 40px;

      @include xlmobile {
        flex: 0 0 50%;
        max-width: 50%;
      }

      @include mobile {
        .card__image {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }

      @include tablet-desktop {
        float: left;
      }

      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(9),
      &:nth-child(10) {
        @include tablet-desktop {
          a {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            background-color: $light-gray4;
            border-radius: 4px;
          }

          .card__image {
            flex: 0 0 calc(271 / 562 * 100%);
            max-width: calc(271 / 562 * 100%);
            display: block;
            position: relative;
            padding-top: calc(185 / 562 * 100%);
            border-radius: 4px 0 0 4px;
            margin-bottom: 0;
          }
          
          .card__text {
            flex: 0 0 calc(291 / 562 * 100%);
            max-width: calc(291 / 562 * 100%);
            padding: 20px;

            > * {
              flex: 0 0 100%;
              max-width: 100%;
            }

            p {
              -webkit-line-clamp: 1;
            }
          }
        }
      }

      &:nth-child(4) {
        clear: both;
      }
    }
  }
}