include ../../molecules/story-thumbnail/story-thumbnail

mixin home-success-stories(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.home-success-stories&attributes(attributes)
    .container
      header.home-success-stories__header.visuallyhidden
        h2 Success Stories

      .home-success-stories__props
        i.icon-boxes-vector
        i.icon-circles-vector
      
      ul.home-success-stories__stories
        +story-thumbnail({
          'src': '/assets/images/success-story-bg.png',
          'link': '#',
          'title': 'Success Stories',
          'text': 'Read the success stories of companies participating in our pilot programme'
        })
        
        +story-thumbnail({
          'src': '/assets/images/success-story-img2.png',
          'link': 'https://www.youtube.com/watch?v=HjxYvcdpVnU',
          "isVideo": true
        })

        +story-thumbnail({
          'src': '/assets/images/success-story-img1.png',
          'link': 'https://www.youtube.com/watch?v=K4TOrB7at0Y',
          "isVideo": true
        })

        +story-thumbnail({
          'src': '/assets/images/success-story-img3.png',
          'link': 'https://www.youtube.com/watch?v=uilkmUoXoLU',
          "isVideo": true
        })
