//home-success-stories styles 
.home-success-stories {
  background-color: $black;
  position: relative;
  padding: 24px 0 0;

  @media only screen and (min-width: $bpTablet) {
    padding: 0;
  }

  &__props {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    i {
      position: absolute;
    }

    .icon-boxes-vector {
      font-size: calc-em(27px);
      left: 12.5%;
      bottom: 7.881773399%;
      color: $orange;
      z-index: 1;

      @media only screen and (min-width: $bpTablet) {
        font-size: calc-em(36px);
        top: calc(144 / 838 * 100%);
        left: calc(200 / 1144 * 100%);
        bottom: auto;
      }
    }

    .icon-circles-vector {
      font-size: calc-em(30px);
      top: 36.75213675%;
      right: 13.33333333%;
      color: $white;
      z-index: 1;

      @media only screen and (min-width: $bpTablet) {
        font-size: calc-em(59px);
        top: auto;
        left: calc(542 / 1144 * 100%);
        right: auto;
        bottom: calc(105 / 838 * 100%);
      }
    }
  }

  ul {
    @include normalise-list;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
    @media only screen and (min-width: $bpTablet) {
      flex-direction: column;
      padding: 77px 0 107px;
    }

    li {
      display: block;
    }
  }

  .story-thumbnail {
    &:first-child {
      width: 71.25%;
      margin-bottom: calc(110 / 320 * 100%);

      @media only screen and (min-width: $bpTablet) {
        position: absolute;
        width: calc(503 / 1144 * (100% - 40px));
        top: 186px;
        left: calc(587 / 1144 * 100%);
        z-index: 1;
        margin-bottom: 0;
      }
    }
    
    &:nth-child(2) {
      width: calc(50% - 30px);
      position: absolute;
      top: calc(184 / 585 * 100%);
      left: 20px;

      @media only screen and (min-width: $bpTablet) {
        position: relative;
        width: calc(245 / 1144 * 100%);
        left: calc(362 / 1144 * 100%);
        margin-bottom: 47px;
      }
    }
    
    &:nth-child(3) {
      width: 77.1875%;
      position: relative;
      transform: translateY(calc(18 / 245 * 100%));

      @media only screen and (min-width: $bpTablet) {
        width: calc(364 / 1144 * 100%);
      }
    }

    &:last-child {
      display: none;

      @media only screen and (min-width: $bpTablet) {
        display: block;
        position: absolute;
        width: calc(212 / 1144 * (100% - 40px));
        bottom: -39px;
        right: 20px;
        z-index: 2;
      }
    }
  }
}