//card-full-width styles
.card-full-width {
  margin: 0 0 30px;
  background-color: $light-gray4;

  @include tablet-desktop {
    margin: 0 0 50px;
  }

  .container {
    @include mobile {
      padding: 0;
    }

    @include tablet-desktop {
      display: flex;
    }
  }

  &__image {
    width: 100%;
    position: relative;

    img, source {
      width: 100%;
      
      @include tablet-desktop {
        @include image-cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }

    @include tablet-desktop {
      flex: 0 0 calc(562 / 1144 * 100%);
      max-width: calc(562 / 1144 * 100%);
    }
  }

  &__text {
    padding: 28px 20px;
    background-color: $light-gray4;
    font-size: calc-em(14px);
    line-height: 170%;

    @include tablet {
      padding: 50px 30px;
    }

    @include desktop {
      padding: 70px 50px;
    }

    @include tablet-desktop {
      flex: 0 0 calc(582 / 1144 * 100%);
      max-width: calc(582 / 1144 * 100%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    > * {
      margin: 0 0 12px;

      &:last-child {
        margin: 0;
      }
    }
  }
}