mixin card-full-width(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.card-full-width(class=spec.__class)
    .container
      picture.card-full-width__image
        source(srcset=spec.image)
        img(src=spec.image, alt=spec.alt)
      .card-full-width__text
        p=spec.text
