mixin breadcrumb(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  nav.breadcrumb.desktop-only&attributes(attributes)
    .container
      ul
        each item, index in spec.breadcrumbs
          li
            if index === spec.breadcrumbs.length - 1
              span=item.name
            else
              a(href=item.url)=item.name
