//breadcrumb styles 
.breadcrumb {
  margin-top: $headerHeight;

  ul {
    @include normalise-list;
    display: flex;
    padding: 16px;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-right: 6px;

    &:after {
      content: '>';
      display: inline-block;
      margin-left: 6px;
    }

    &:last-child {
      margin-right: none;
      
      &:after {
        display: none;
      }
    }
  }

  a,
  span {
    color: $black;
    line-height: 150%;
  }
  
  a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover{
      color: $red;
      text-decoration: underline;
    }
  }
}