include ../../molecules/card/card
include ../../molecules/pagination/pagination

mixin event-listing(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.event-listing&attributes(attributes)
    .container
      header.event-listing__header
        h2.visuallyhidden SNEF Upcoming Events
      if spec.pages
        each page, index in spec.pages
          if page.cards
            ul.event-listing__list
              each card in page.cards
                +card({
                  'url': card.url,
                  'src': card.src,
                  'alt': card.alt,
                  'title': card.title,
                  'dateIcon': card.dateIcon,
                  'date': card.date,
                  'timeIcon': card.timeIcon,
                  'time': card.time,
                  'text': card.text
                }).card--cover.col-sm-6.col-md-4

      +pagination({
        'totalPages': spec.totalPages
      })
