//event-listing styles 

.event-listing{
  margin: 44px 0 63px;

  @include tablet-desktop {
    margin: 80px 0;
  }

  &__list{
    @include normalise-list;
    @include row($gutter);
  }

  .card {
    margin: 0 0 36px;

    @include xlmobile {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @include tablet-desktop {
      margin: 0 0 54px;
    }
  }
}