mixin hamburger-menu-btn(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .site-header__menu-toggle.no-desktop
    button(type="button")
      span.visuallyhidden Navgiation Menu
      span.line.line1
      span.line.line2
      span.line.line3
      span.line.line4
