.site-header__menu-toggle {
  button {
    margin: 0;
    padding: 0;
    height: 36px;
    width: 36px;
    position: relative;
    left: 10px;
    border: none;
    display: block;
    background-color: transparent;
    cursor: pointer;
    outline: 0;
  }

  &.collapse {
    .line1,
    .line3 {
      transform: translate(-50%, -1px);
      opacity: 0;
    }

    .line4 {
      transform: translate(-50%, -7px);
      opacity: 1;
    }
  }

  &.rotate {
    .line2,
    .line4 {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
}

.line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -1px);
  width: 15px;
  height: 2px;
  border-radius: 2px;
  background-color: $red;
  opacity: 1;
  transform-origin: 50% 50%;
  transition: all 0.2s;

  &.line1 {
    transform: translate(-50%, -6px);
  }

  &.line3 {
    transform: translate(-50%, 4px);
  }

  &.line4 {
    width: 2px;
    height: 15px;
    opacity: 0;
    transform: translate(-50%, -80%);
  }
}
