//site-navigation styles
.site-header__navigation {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.site-header__nav {
  $p: &;

  @include mobile-tablet {
    position: fixed;
    top: 54px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 0 17px;
    background-color: #fff;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.15);
    border-top: 1px solid $light-gray;
    transform: translate(100%, 0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }

  @include desktop {
    position: static;
  }

  ul {
    @include normalise-list;
    display: flex;

    @include mobile-tablet {
      display: block;
    }

    &#{$p}--level1 {
      > li {
        position: relative;
        padding: 9px 0;

        &.active {
          .icon-chevron-down {
            transform: scaleY(-1);
          }
        }

        @include mobile-tablet {
          flex: 0 0 100%;
          max-width: 100%;
          padding: 0;
        }

        @include desktop {
          margin-left: 20px;
          display: flex;
          align-items: center;
        }

        @include lgDesktop {
          padding: 9px 0;
          margin-left: 30px;
        }

        @media only screen and (min-width: $bpDesktop) and (hover: hover) {
          &:hover {
            > ul {
              opacity: 1;
              visibility: visible;
              pointer-events: auto;
            }
          }
        }

        > a {
          text-decoration: none;
          color: $black;
          font-size: calc-em(14px);

          @include mobile-tablet {
            padding: 17px;
            width: 100%;
            margin: 0;
            line-height: 1.2;
            color: $black;
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          @include lgDesktop {
            font-size: calc-em(16px);
          }
        }

        .icon-chevron-down {
          display: none;
          position: absolute;
          width: 48px;
          height: 48px;
          top: 1px;
          right: 1px;
          font-size: calc-em(10px);
          transition: all 0.3s ease-in-out;

          &:before {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          @include mobile-tablet {
            display: block;
          }
        }
      }
    }

    &#{$p}--level2 {
      @include mobile-tablet {
        display: none;
      }

      @include desktop {
        display: block !important;
        position: absolute;
        top: 100%;
        width: 180px;
        left: 50%;
        right: 0;
        transform: translate(-50%, 0);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
        background-color: #fff;
        border-radius: 4px;
        z-index: 1;
        padding: 5px 0;
        flex-wrap: wrap;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s;
      }

      > li {
        flex: 0 0 100%;
        max-width: 100%;

        > a {
          display: block;
          padding: 17px 34px;
          margin: 0;
          font-size: calc-em(14px);
          line-height: 1.2;
          color: $black;
          transition: all 0.3s ease-in-out;
          text-decoration: none;

          @include desktop {
            padding: 17px;
          }

          @include lgDesktop {
            font-size: calc-em(16px);
          }

          @media only screen and (min-width: $bpDesktop) and (hover: hover) {
            &:hover {
              background-color: $red;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.site-header__toolkit {
  $p: &;

  position: relative;
  left: 10px;
  margin: 0 4px 0 0;

  @include desktop {
    left: auto;
    margin: 0 0 0 27px;
  }

  ul {
    @include normalise-list;

    &#{$p}--level1 {
      > li {
        position: relative;

        @include desktop {
          padding: 9px 0;
        }

        &:focus,
        &:hover {
          > ul {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
          }
        }

        > a {
          font-size: calc-em(14px);

          @include mobile-tablet {
            padding: 7px 16px;
          }

          @include lgDesktop {
            font-size: calc-em(16px);
          }
        }
      }

      .icon-chevron-down {
        margin-left: 8px;
        font-size: calc-em(10px, 14px);

        @include lgDesktop {
          font-size: calc-em(10px, 16px);
        }
      }
    }

    &#{$p}--level2 {
      position: absolute;
      top: 100%;
      width: 180px;
      left: 50%;
      right: 0;
      transform: translate(-50%, 0);
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
      background-color: #fff;
      border-radius: 4px;
      z-index: 1;
      padding: 5px 0;
      flex-wrap: wrap;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: all 0.3s;

      > li {
        flex: 0 0 100%;
        max-width: 100%;

        > a {
          display: block;
          padding: 17px;
          margin: 0;
          font-size: calc-em(14px);
          line-height: 1.2;
          color: $black;
          transition: all 0.3s ease-in-out;
          text-decoration: none;

          @include lgDesktop {
            font-size: calc-em(16px);
          }

          @media only screen and (min-width: $bpDesktop) and (hover: hover) {
            &:hover {
              background-color: $red;
              color: #fff;
            }
          }
        }
      }
    }
  }
}
