mixin site-navigation(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  .site-header__navigation
    nav.site-header__nav
      ul.site-header__nav--level1
        li
          a(href="/step-by-step-template") JR Methodology
        li
          a(href="/filtered-listing-template") HR Tech Solutions
        li
          a(href="/success-stories") Success Stories
        li
          a(href="#") Funding & Support
        li
          a(href="/") Media
          span.icon-chevron-down(data-toggle)

          ul.site-header__nav--level2(data-content)
            li
              a(href="#") Latest Articles
            li
              a(href="#") Upcoming Events

    nav.site-header__toolkit
      ul.site-header__toolkit--level1
        li
          a.cta(href="#") e-toolkit
            span.icon-chevron-down
          ul.site-header__toolkit--level2
            li
              a(href="#") Launch e-toolkit
            li
              a(href="#") Download e-toolkit

    +hamburger-menu-btn()
