extends ../_layouts/base

include ../_modules/molecules/breadcrumb/breadcrumb

include ../_modules/organisms/page-footer/page-footer
include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/success-story-listing/success-story-listing

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'Success Stories'

block content
  +breadcrumb({
    "breadcrumbs": [
      {
        "name": "Home",
        "url": "/"
      },
      {
        "name": "Success Stories"
      }
    ]
  })

  +page-banner({
    "image": "/assets/images/women-banner.png",
    "alt": "Banner image",
    "title": "Success Stories"
  })

  +success-story-listing({
    "list":[
      {
        "class": "col-sm-6 card--cover",
        "src": "/assets/images/success-story-listing-1.png",
        "videoLink": "https://www.youtube.com/watch?v=ScMzIvxBSi4",
        "title": "HR Job Redesign Initiative - How did it benefit companies",
        "company": "ABC Company",
        "text": "Onboarding software facilitate the new hires' onboarding experience for the new hires and the HR team by standardising the process",
        "url": "#"
      },
      {
        "class": "col-sm-6 card--cover",
        "src": "/assets/images/success-story-img2.png",
        "videoLink": "https://www.youtube.com/watch?v=ScMzIvxBSi4",
        "title": "The Employees' Job Redesign Journey",
        "company": "DEF Company",
        "text": "Onboarding software facilitate the new hires' onboarding experience",
        "url": "#"
      },
      {
        "class": "col-sm-6 card--cover",
        "src": "/assets/images/success-story-img3.png",
        "title": "Get Ready for HR Job Redesign",
        "company": "GHI Company",
        "text": "Onboarding software facilitate the new hires' onboarding experience for the new hires and the HR team",
        "url": "#"
      },
      {
        "class": "col-sm-4 card--cover",
        "src": "/assets/images/man-drinking-coffee.png",
        "title": "Get Ready for HR Job Redesign",
        "company": "JKL Company",
        "text": "Onboarding software facilitate the new hires' onboarding experience for the new hires and the HR team by standardising the process",
        "url": "#"
      },
      {
        "class": "col-sm-4 card--cover",
        "src": "/assets/images/mbs.png",
        "title": "Get Ready for HR Job Redesign",
        "company": "MNO Company",
        "text": "Onboarding software facilitate the new hires' onboarding experience for the new hires and the HR team by standardising the process",
        "url": "#"
      },
      {
        "class": "col-sm-4 card--cover",
        "src": "/assets/images/building-small.png",
        "title": "Get Ready for HR Job Redesign",
        "videoLink": "https://www.youtube.com/watch?v=ScMzIvxBSi4",
        "company": "Noryani",
        "text": "Onboarding software facilitate the new hires' onboarding experience for the new hires and the HR team by standardising the process",
        "url": "#"
      },
      {
        "class": "col-sm-6 card--cover",
        "src": "/assets/images/friends-laptop.png",
        "title": "The Employees' Job Redesign Journey",
        "videoLink": "https://www.youtube.com/watch?v=ScMzIvxBSi4",
        "company": "DEF Company",
        "text": "Onboarding software facilitate the new hires' onboarding experience",
        "url": "#"
      },
      {
        "class": "col-sm-6 card--cover",
        "src": "/assets/images/laptops.png",
        "title": "The Employees' Job Redesign Journey",
        "company": "DEF Company",
        "text": "Onboarding software facilitate the new hires' onboarding experience",
        "url": "#"
      },
      {
        "class": "col-sm-6 card--cover",
        "src": "/assets/images/topview-building.png",
        "title": "The Employees' Job Redesign Journey",
        "company": "DEF Company",
        "text": "Onboarding software facilitate the new hires' onboarding experience",
        "url": "#"
      },
      {
        "class": "col-sm-6 card--cover",
        "src": "/assets/images/group-discussion.png",
        "title": "The Employees' Job Redesign Journey",
        "videoLink": "https://www.youtube.com/watch?v=ScMzIvxBSi4",
        "company": "DEF Company",
        "text": "Onboarding software facilitate the new hires' onboarding experience",
        "url": "#"
      }
    ]
  })

  +page-footer({
    "title": "Get Started",
    "src": "/assets/images/teamwork-flatline.png",
    "text": "Enhance your HR capabilities and productivity through technology adoption and Job Redesign",
    "alt": "teamwork image",
    "ctas": [
      {
        "url": "#",
        "label": "Learn how to Job Redesign"
      },
      {
        "url": "#",
        "label": "Find your HR Tech Solution"
      }
    ]
  })