extends ../_layouts/base

include ../_modules/atoms/cta/cta

include ../_modules/molecules/breadcrumb/breadcrumb
include ../_modules/molecules/card-full-width/card-full-width
include ../_modules/molecules/article-header/article-header

include ../_modules/organisms/page-banner/page-banner
include ../_modules/organisms/article-content/article-content
include ../_modules/organisms/rte/rte

block append config
  //- Correct base url pathing for this page
  - baseUrl = '../'
  - pageTitle = 'Eight forces driving HR transformation right now'

block content
  +breadcrumb({
    "breadcrumbs": [
      {
        "name": "Home",
        "url": "/"
      },
      {
        "name": "Media",
        "url": "#"
      },
      {
        "name": "Latest Updates",
        "url": "#"
      },
      {
        "name": "Eight forces driving HR transformation right now"
      }
    ]
  })

  +page-banner({
    "title": "Eight forces driving HR transformation right now",
    "isArticle": true,
    "date": "26 Nov 2020",
    "time": "10:30am to 12:30pm"
  })

  +article-content
    //- if articleHeader
    +article-header({
      "image": "/assets/images/article.jpg",
      "alt": "Article header image",
      "blockquote": "The real opportunity to create long-term value lies in a “people-first” approach across the enterprise."
    })

    +rte
      p In an age where corporate culture is a Board-level matter, workforce planning and talent development enable or disable workforce agility, inclusive behaviors are non-negotiable and technology transformation is the new normal, there has never been a better time to be an HR leader or professional.

      p The future of HR is horizontal, working as an integrated enabler, ensuring that all key decisions are made with people and skills considerations top-of-mind across the business, rather than operating as a standalone vertical. As better technology and automation (better) handles routine tasks and provides richer people data, and “digital workers” (bots and other forms of intelligent automation that undertake HR tasks) take greater responsibility for traditional “HR work,” HR professionals can shift their focus to unmet and underserviced people needs in the business.

      p In EY’s study How do you ensure you are automating intelligently, we find that there is an opportunity to use automation to free up to 29% of time currently spent on lower-level administrative tasks within the HR function. In this context, the “people impact” of the workforce on business outcomes and long-term value creation are undeniable.

      p The game-changer for businesses today is the digitalization of the HR function, if leaders get it right. The pace of innovation and the stability of tried and tested HR software solutions are driving a radical change in how “HR work” gets done.

      p By maximizing use of integrated cloud solutions and leveraging all forms of intelligent automation, HR leaders are seizing control of their own destiny and creating capacity to tackle vulnerable people points in their value chains. Great HR leaders are now going directly after top-line impact and bottom-line performance – and all the value contributions in between. A measured approach to organization design sits at the core of unleashing this potential.

  +card-full-width({
    "image": "/assets/images/card-full.jpg",
    "alt": "this is an image",
    "text": "An integrated, horizontally-structured organization design is characterized by outcomes that are co-owned by the business, the workforce and its HR function. Crucially, all roads to horizontal impact prompt significant changes in the service delivery model for HR and there are eight practical implications resulting from a digitally-enabled people operating model."
  })

  +article-content
    +rte
      h2 1. Digital enablement
      p Digital enablement is now doing up to 40% of work formerly undertaken by HR professionals. This is a result of capitalizing on cloud technology investments and embracing intelligent automation across all HR functions.

      p If you lead a 500-person global HR team, what impact could you have with the equivalent of 200 people professionals who now have the capacity to focus on higher-value people contributions in the business?

      h2 2. Automation
      p Automation enables delivery of HR work across every part of the employee lifecycle. Everything from HR planning and strategy to labor relations and talent acquisition should be reimagined to take advantage of cloud, advanced analytics, machine learning, robotic process automation, artificial intelligence and chatbot capabilities.

      h2 3. Self-service from any screen
      p Direct digital access from any screen replaces client-facing HR and reinvents self-service. Consumer-grade user experiences on smart devices at work unlock the full potential of self-service.

      p Today, managers and employees can do more while riding the elevator or when operating outside of the traditional office environment than ever before.

      h2 4. People Solutions and Services (PSS) taking on specialist work
      p There is an intentional effort to accomplish moderately complex and operational specialist work from the PSS center of excellence in compensation, benefits, core HR, talent acquisition, talent management and nearly every other specialty area of HR.

      p From annual merit process administration to driving completion of quarterly performance check-ins, many “steady-state” operational tasks are now being undertaken by PSS.

      h2 5. PSS taking on generalist work from HR Business Partners
      p In many organizations today, there exist HR generalists with business partner titles that continue to just get HR work done locally for the business. Tomorrow, this work will be intentionally serviced from PSS to give those same business partners the bandwidth and capability to serve as people strategists.
  
  +article-content.article-content__end
    +cta({
      'link': '/latest-articles',
      'name': 'Back to listing'
    })