extends _layouts/base

include ./_modules/atoms/button/button

include ./_modules/organisms/home-banner/home-banner
include ./_modules/organisms/home-links/home-links
include ./_modules/organisms/home-cards/home-cards
include ./_modules/organisms/home-success-stories/home-success-stories
include ./_modules/organisms/page-footer/page-footer

block config
  - var page = 'homepage'
  - var site = htmlWebpackPlugin.options //global site data

block content
  +home-banner()
  +home-links()
  +home-cards()
  +home-success-stories()
  +page-footer({
    'title': 'Get Started',
    'src': '/assets/images/teamwork-flatline.png',
    'text': 'Enhance your HR capabilities and productivity through technology adoption and Job Redesign',
    'alt': 'teamwork image',
    "ctas": [
      {
        'url': '#',
        'label': 'Learn how to Job Redesign',
      },
      {
        'url': '#',
        'label': 'Find your HR Tech Solution',
      }
    ],
    'linkUrl': '#',
    'linkLabel': 'Download pdf version'
  })
