mixin article-header(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  header.article-content__header(class=spec.__class)&attributes(attributes)
    picture
      source(srcset=spec.image)
      img(src=spec.image, alt=spec.alt)
    if spec.blockquote
      blockquote "!{spec.blockquote}"