//article-header styles 
.article-content {
  &__header {
    @include lgDesktop {
      margin: 0 0 41px;
      position: relative;
    }

    picture {
      @include mobile {
        margin: 0 -20px;
        max-width: unset;
      }

      @include tablet-desktop {
        position: relative;
        margin-top: -40px;
        z-index: 1;
      }
    }

    source,
    img {
      width: 100%;
    }
  }

  blockquote {
    font-size: calc-em(14px);
    line-height: 150%;
    text-align: center;
    color: #fff;
    padding: 49px 25px 23px;
    background-color: $black;
    display: block;
    margin: 0;
    position: relative;
    top: -28px;
    z-index: 1;

    @include tablet-desktop {
      margin: 0 20px;
    }

    @include lgDesktop {
      position: absolute;
      top: auto;
      left: auto;
      right: calc(100% - 50px);
      bottom: 25px;
      margin: 0;
      width: 244px;
      padding: 103px 30px 33px;
      text-align: left;
      font-size: calc-em(18px);
    }

    &:before {
      content: '';
      background-color: #fff;
      position: absolute;
      width: 30px;
      height: 4px;
      top: 26px;
      left: 50%;
      transform: translate(-50%, 0);
  
      @include lgDesktop {
        width: 46px;
        top: 36px;
        left: auto;
        transform: none;
      }
    }
  }
}