include ../card-steps/card-steps

mixin card-steps-list(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  section.card-steps-list(class=spec.__class)&attributes(attributes)
    header.card-steps-list__header
      h2.step-by-step-guide__header--title(style="color: " + spec.color + ";")= spec.title
    ul.card-steps-list__list
      each card in spec.cardList
        +card-steps({
          '__class': card.class,
          'src':card.src,
          'number': card.number,
          'color': card.color,
          'title': card.title,
          'content': card.content,
          'list': card.list,
          'line1': card.line1,
          'line2': card.line2
        })
