//card-steps-list styles 
.card-steps-list{
  margin: 0 0 32px;
  
  @include tablet-desktop {
    margin: 0 0 80px;
  }

  h2{
    font-weight: $semi-bold;
    font-size: calc-em(24px);
    line-height: 29px;
    margin: 0 0 22px;

    @include tablet-desktop{
      font-size: calc-em(32px);
      line-height: 39px;
      margin: 0 0 48px;
    }
  }

  > ul {
    @include normalise-list;
  }

  &:last-child {
    margin-bottom: 0;
    
    .card-steps {
      &:last-child {
        .card-steps__text {
          padding-bottom: 0;

          &:before {
            display: none;
          }
        }
      }
    }
  }
}