mixin primary-menu(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  nav.main-menu(class=spec.__class)&attributes(attributes)
    ul.main-menu__lvl1
      each lvl1 in spec.menu
        if lvl1.children
          li.main-menu__lvl1-item.has-submenu
            a(href=lvl1.url class=lvl1.__class)= lvl1.name
              if lvl1.icon
                i.icon-chevron-down 
            ul.main-menu__lvl2
              each lvl2 in lvl1.children
                if lvl2.children
                  li.main-menu__lvl2-item
                    a(href=lvl2.url class=lvl2.__class)= lvl2.name
                      i.icon-chevron-down 
                    ul.main-menu__lvl3
                      each lvl3 in lvl2.children
                        li.main-menu__lvl3-item
                          a(href="#{lvl3.url}")= lvl3.name
                else
                  li.main-menu__lvl2-item
                    a(href=lvl2.url)= lvl2.name
        else
          li.main-menu__lvl1-item
            a(href= lvl1.url)= lvl1.name