//primary-menu styles 
.main-menu{
    a{

        text-decoration: none;
        color: $black;
        font-size: calc-em(16px);

        @include desktop{

            @media only screen and (max-width: 1600px){

                font-size: calc-em(15px);

            }

            @media only screen and (max-width: 1200px){

                font-size: calc-em(12px);

            }
        }

    }

    li{

        display: inline-block;
        margin-right: 25px;

    }

    &__lvl1{

        padding: 0;
        
    }
}